[2015-02-17 08:25] bjoernenders opened #1 "Parameters"
I vote for permanently changing things in geometry:

energy : stays , switch to electron Volts instead of keV or use actual SI unit. Actually the input here is not so super self explaining
z -> distance
psize_det -> psize or pixelsize
psize_sam -> resolution
N -> shape
lam -> we could decide to permanently discard this one. However a dumb user would mor likely put an SI unit here

[2015-03-09 14:50] pierrethibault commented on #10
Hello Frederic,

Having Debian and pypi packages would be great - you are more than welcome to work on this! Regarding python3, we haven't tried it yet, so the only reasonable answer is no. You might want to keep in mind that this version is very much alpha - we are currently working on a new release with quite a few changes. We will push it on the public repo as soon as it is completed. So an upg

[2015-03-09 18:00] picca commented on #10
Hello Pierre

the only strong requierement for Debian is to have only compliant files with the Debian Social Contract.
Pratically it means open source files.
the best is to put the GPL header in each of your files.
This way it is easier for the Debian folks to review the package before inclusion.

once this is done there is nothing which can  stop the inclusion into Debian/Ubuntu/Mint...

it would

[2015-03-11 15:34] pierrethibault commented on #10
Thanks for all the info and ideas. I'll keep you posted for the new release. Unit tests are also something we have considered but they take time to set up so we never bothered up to now.

[2015-05-06 08:28] bjoernenders commented on #11
Thanks for your comment. Well, ``off`` is if the difference to the main energy and will be set internally once you specify more than [1.0] in the ``energies`` parameter of the coherence branch. So yes the code does what it is supposed to do.
Would you mind writing me a personal email? We would like to stay in contact with our user base especially in view of news, upcoming releases etc.

[2015-06-11 11:19] bjoernenders commented on #12
Thanx for the bug report. Iteration is checked at the beginning of the loop now.

[2015-09-14 10:51] pierrethibault opened #2 "Support for statistical weight"
Currently the data preparation allows for statistical weights to be defined, but further on these weights are interpreted as boolean masks. This is inconsistent and should be handled much better, especially when working with ML.

[2015-09-14 13:59] pierrethibault opened #3 "The role of load_positions"
The documentation of ptypy.core.data.PtyScan.load_positions(), currently says that "If parallel reads or log file parsing for each set of frames is not a time critical issue of the subclass, reimplementing this function can be ignored and it is recommended to only reimplement the :py:meth:`load` method.".

I am not sure if this is a good recommendation. Whether it is expansive or not, providing a

[2015-09-15 15:01] pierrethibault opened #4 "Probe mode diversity"
If num_probe_modes is not 1, diversity should be introduced by default.

[2016-07-01 15:50] aaron-parsons opened #8 "Fix csaxs test"
Currently it looks for tree.bmp via a relative path, we should make a function in the test dir that just retrieves the filepath whereever we are.

[2016-07-01 15:51] aaron-parsons opened #9 "Refactor the unit tests to optimise coverage"
The current unit tests are quite verbose and overlap a lot. Whilst some overlap is good, we should minimise the time for the tests to run by refactoring.

[2016-07-18 10:27] pierrethibault opened #10 "PtyPy improvements"
The first draft of planned ptypy improvements can be found on this google doc:

https://docs.google.com/document/d/1jp1tqEqPJxw4isc4FTKXCqzsOrgcuiBkq4XjMHWfgMc/edit?usp=sharing

Anyone planning to participate is welcome to take a look and comment or edit. We will then break these general goals in smaller pieces to make a roadmap.

[2016-07-22 08:35] jcesardasilva commented on #10
This is very nice, Pierre, and very important. I put some suggestions in the google doc you shared with us. I was wondering if it is possible to make clearer in the documentation how to properly use Ptypy for near-field ptychography, given that the tutorial presented is for Far-field ptychography. Is there any interested in including Fourier Ptychography in the package?

[2016-07-22 17:27] pierrethibault commented on #10
Thanks Julio. I think @stefanoschalkidis will have at least templates to suggest for near-field ptychography.

Including Fourier ptychography would be very nice, thanks for mentioning. As for pyFFTW, I looked into this a long time ago and thought that scipy's FFTpack was just as fast?

[2016-07-25 10:54] aaron-parsons commented on #10
Hi Pierre,

I also added some comments. From my view, I think adding unit tests is very important to make this a long lasting package. We should make a simple test framework so that contributors can build a test with very little effort/ time. This means that if we make framework changes (ie moving to gpu) we can test the whole structure straight away.

The tests also would work nicely as example c

[2016-08-03 13:34] pierrethibault opened #11 "Interactive subpackage for ipython"
Introduce `ptypy.interactive` or `ptypy.consoletools` with functions to load data, setup the pods, run the engines, etc, à la matlab and pylab. This would help for debugging and developing new ideas.

[2016-08-03 13:34] pierrethibault opened #12 "Interactive pipeline helper"
When working interactively it would be convenient to provide a helper function that guides the user to the next steps in the Ptycho preparation.

[2016-08-03 13:35] pierrethibault opened #13 "Interactive parameter builder"
Helper function(s) to build parameter structures interactively.

[2016-08-03 13:36] pierrethibault opened #15 "Unpack/repack container arrays"
If the data is straightforwardly homogeneous, adding methods to unpack / repack numpy arrays would help testing and hacking.

[2016-08-03 13:37] pierrethibault opened #16 "New data viewer"
One nice idea would be to have a html5 client for real-time data visualisation and additional interactions such as pausing, changing parameters on-the-fly, etc.

[2016-08-03 13:37] pierrethibault opened #17 "Replace Param class with treedict"
Remains to check if we want treedict to be a dependency or if we integrate the code as submodule.

[2016-08-03 13:38] pierrethibault opened #18 "PEP8"
Finalise PEP8 standards throughout.

[2016-08-03 13:39] pierrethibault opened #20 "View management (data containers) as stand-alone library"
Seems that the flexible containers are finding an interest elsewhere. We could factor it out, but would then have to maintain a compatible API.

[2016-08-03 13:39] pierrethibault opened #21 "Python 3 compatibility"
Has to be done at some point.

[2016-08-03 13:41] pierrethibault opened #23 "Unit testing"
Many many tests should be added, especially for data preparation recipes and engines.

[2016-08-03 13:41] pierrethibault opened #24 "Validate ML code"
The ML code in ptypy has never been tested as thoroughly as in its ancestor ptycho.

[2016-08-03 13:42] pierrethibault opened #25 "Travis CI"
Get started registering on Travis CI automatic testing.

[2016-08-03 13:55] pierrethibault opened #27 "Profiling"
As a first step for acceleration. Anybody identifying obvious bottlenecks please report as a new issue.

[2016-08-03 13:58] pierrethibault opened #31 "GPU acceleration"
Any initial test is most welcome. Options are
- OpenMP
- OpenCL
- Arrayfire
- Cuda
- Maybe others...

[2016-08-03 13:58] pierrethibault opened #32 "Implement ePIE"
Now that patent issues are solved we can provide an ePIE implementation without risk.

[2016-08-03 13:59] pierrethibault opened #33 "Implement RAAR"
This should be a slight modification compared to DM.

[2016-08-03 14:00] pierrethibault opened #35 "Implement probe position refinement"
Various approaches exist, and most are engine dependent. Any implementation is welcome.

[2016-08-03 14:01] pierrethibault opened #38 "Implement orthogonal probe relaxation"
Implement the method in http://dx.doi.org/10.1364/OE.24.008360

[2016-08-03 14:02] pierrethibault opened #39 "Clarify lab coordinates system"
Should be added in documentation.

[2016-08-03 14:03] pierrethibault opened #42 "Document how to publish documentation"
Not clear yet what are the steps to update the gh-pages branch.

[2016-08-05 00:28] #8 closed, assigned to aaron-parsons

[2016-08-18 06:20] alexbjorling commented on #32
Cool, we would definitely be up for this and might implement it this autumn if nobody else beats us to it.

[2016-08-18 06:34] alexbjorling commented on #12
People here at Max IV are very interested in "pipeline helpers" that would allow users to easily build and modify their analysis workflows. They seem to think Orange 3 is a good way to go, based on the example of a ray tracing program from the ESRF (http://ftp.esrf.eu/pub/scisoft/Oasys/readme.html).

I know nothing about Orange but seems it might be an option.

[2016-08-19 15:15] aaron-parsons opened #44 "Ipython tab completion breaks on ptypy import"
@alexbjorling and I noticed that tab completion in ipython breaks when you import ptypy.

[2016-08-19 15:16] aaron-parsons commented on #44
This was fixed and was an error with the embedded shell instantiation detailed here:https://github.com/ipython/ipython/issues/7037

[2016-08-19 15:16] #44 closed, assigned to aaron-parsons

[2016-08-22 08:02] alexbjorling commented on #39
Yes, I'm trying to understand this now (doing a first attempt at reconstructing our first ptycho scan here...) and am confused. Until this gets documented, are there any pointers to how this info can be found without going deep into the code?

[2016-08-22 20:24] bjoernenders commented on #39
To some extent, these are "natural" coordinates. So _z_ runs positiv in the direction of the beam, while x and y run positive with the index of all 2d arrays. In your (N,2)-array of positions, the first position refers to the row and the second to the column in the object array. If you coordinate system has 'x' associated with horizontal movement and the camera has its row-readout in parallel with

[2016-08-22 20:44] alexbjorling commented on #39
Thanks, this helps a lot.

[2016-08-23 15:15] stefanoschalkidis commented on #44
@aaron-parsons and @alexbjorling what version of ipython are you using? I had the the tab completion issue last year with version 4, but it disappeared again with version 5. The way the code was modified now re-enables tab completion but breaks embedded shell functionality. Upgrading to version 5 solves both issues.

[2016-08-23 15:33] aaron-parsons commented on #44
We are at the head of the master branch. This should be up to date no?

On 23 Aug 2016, at 16:15, Stefanos Chalkidis <notifications@github.com<mailto:notifications@github.com>> wrote:

@aaron-parsonshttps://github.com/aaron-parsons and @alexbjorlinghttps://github.com/alexbjorling what version of ipython are you using? I had the the tab completion issue last year with version 4, but it disappeared

[2016-08-23 15:39] stefanoschalkidis commented on #44
Yes, that's true, but I'm referring to the ipython version on your machine. I noticed the failure of tab completion when I updated to version 4 and was wondering what versions you are using.

[2016-08-23 15:56] aaron-parsons commented on #44
Not sure. I'm at an airport at the mo so can tell you when I get back:-)

I think the diamond one is usually within 1 release from the most recent though.

On 23 Aug 2016, at 16:40, Stefanos Chalkidis <notifications@github.com<mailto:notifications@github.com>> wrote:

Yes, that's true, but I'm referring to the ipython version on your machine. I noticed the failure of tab completion when I updated

[2016-08-23 17:45] alexbjorling commented on #44
I first had the issue on ipython 2.4.1-1 which is what the Ubuntu 16.04 repos give. Installing from pypi instead gives me something called 5.1.0 (really three major releases newer?) and there tab completion works very well with the old import method.

[2016-08-24 08:36] stefanoschalkidis commented on #44
Thanks a lot for your feedback. Yes, the main ubuntu repos are often quite a few releases behind. I will update the master to include embedded shell soon again.

[2016-08-24 13:53] aaron-parsons commented on #44
Perhaps we could include a check that executed the line differently depending on the Ipython version?

Keeps backwards compatibility, because you know someone else is gonna hit the same problem...;-)

On 24 Aug 2016, at 10:36, Stefanos Chalkidis <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks a lot for your feedback. Yes, the main ubuntu repos are often quite a few relea

[2016-08-24 14:30] stefanoschalkidis commented on #44
Yes, I've included switches for versions 4 and 0 (the latter is the one I found on my Diamond Nomachine) which simply deactivate the embedded shell. Tab completion works during normal import, but the embedded shell is not available. Not the nicest solution, but maybe we can come up with something else in the future.

[2016-08-29 15:31] pierrethibault opened #47 "Unique location for default parameters"
Currently, default parameters are stored at the beginning of multiple files. These parameters are also stored in the file `resources/parameter_descriptions.csv`.

This information should not be duplicated, and all defaults should be drawn from a unique point, the csv file. We should also consider introducing a more robust validation of the input parameters. Most of the code is ready in `utils/vali

[2016-08-29 15:52] pierrethibault opened #48 "Restructure repository to follow CONTRIB guidelines"
New development guidelines should be implemented as of 1st of September.

[2016-08-31 12:28] pierrethibault opened #50 "GUI for input parameters"
Something has been programmed already for this at TUM. To be investigated.

[2016-08-31 13:31] aaron-parsons commented on #50
Way back when, we also had something in DAWN that might do this too. Do you know if it was ever tested with ptypy?

---

From: Pierre Thibault [notifications@github.com]
Sent: 31 August 2016 13:28
To: ptycho/ptypy-dev
Subject: [ptycho/ptypy-dev] GUI for input parameters (#50)

Something has been programmed already for this at TUM. To be investigated.

�
You are receiving this because you are subsc

[2016-09-05 18:49] pierrethibault opened #53 "ptypy-dev -> ptypy"
The renaming just took place. Please watch out next time you clone push or pull.

[2016-09-05 20:26] pierrethibault commented on #53
Note: if you have local changes, don't forget to type
`git remote set-url origin git@github.com:ptycho/ptypy`
(or `git remote set-url origin https://github.com:ptycho/ptypy`)
before pushing!

[2016-09-05 20:42] pierrethibault commented on #47
I'd like to know if someone has an opinion on alternative ways of doing this. I have been thinking about the possibility of registering parameter informations from each file/module. Something like

[code]

Or using YAML:

[code]

I have the feeling that this is better than a unique csv file. In particular, in this system `Engines` and `PtyScan` classes are easily included in the parameter document

[2016-09-09 21:22] pierrethibault commented on #16
Jypiter could be a nice option. This project: https://github.com/jupyter-incubator/declarativewidgets could be a way of having both python interactivity and nice responsive GUI.

See also the video: https://www.youtube.com/watch?v=SJiezXPhVv8 (minutes 25-35 and around 45).

[2016-09-10 00:04] daurer commented on #16
We could also try combining jupyter with bokeh:
http://bokeh.pydata.org/en/latest/docs/user_guide/notebook.html

On Fri, Sep 9, 2016 at 10:22 PM, Pierre Thibault notifications@github.com
wrote:

[2016-09-14 07:25] alexbjorling opened #56 "Creating a Container copy with different data type"
Is there an accepted way of creating a "copy" of a Container object, with the data type changed? I need a representation of a complex128 Container where the new Storages should instead be int or bool. The old data is not important, just the structure of the Container, so the new storages can be filled with zeros.

[2016-09-15 09:01] pierrethibault commented on #56
Maybe @bjoernenders will tell us that there are problems deep under, but to me it looks fine to add a `dtype` argument in `Container.copy()` and `Storage.copy()`...

[2016-09-15 09:01] #53 closed, assigned to nobody

[2016-09-16 15:27] bjoernenders commented on #56
Yeah ok that could be done.

[2016-09-16 15:33] bjoernenders opened #57 "PtydScan.check() does not work as expected"
.There is something odd happening with the PtydScan class. As a consequence the on-the-fly mode with linked datasets is not functional @aaron-parsons @alexbjorling , I will look at it and tell you when the on-the-fly mode works again, hopefully over the weekend. It requires deeper inspection than expected.

[2016-09-16 19:06] aaron-parsons commented on #57
Could you send me/push the script you're running as a diagnostic?

I'd be interested to take a look on Monday if you don't get chance before. I'm intrigued if my swmr one is failing the same!

At least if I have your script I know how it was supposed to be used!

On 16 Sep 2016, at 16:34, Bjoern Enders <notifications@github.com<mailto:notifications@github.com>> wrote:

.There is something odd happ

[2016-09-16 19:10] aaron-parsons commented on #57
It's probably also most of the way toward being a good unit test...

On 16 Sep 2016, at 16:34, Bjoern Enders <notifications@github.com<mailto:notifications@github.com>> wrote:

.There is something odd happening with the PtydScan class. As a consequence the on-the-fly mode with linked datasets is not functional @aaron-parsonshttps://github.com/aaron-parsons @alexbjorlinghttps://github.com/alexbjorl

[2016-09-19 08:09] bjoernenders commented on #57
Solved with commit 2e626ff. Please verify

[2016-09-19 08:21] bjoernenders commented on #47
I like that YAML type of registering parameters.

[2016-09-20 14:58] aaron-parsons commented on #57
This works fine for the moonflower example, but not for when you use a ptyscan instance through the framework in anger.

The reason for this is that in the moonflower, you introduce a wait in the loop in on_the_fly_ptyd.py, because you call auto manually. For real ptyscan instances, this wait does not happen unless you catch it in line 311 of manager.py (new_data). It will just assume its finished

[2016-09-20 15:25] bjoernenders commented on #57
The new_data() routine in manager.py is intentionally not supposed to sleep. The problem must be solved in  a different manner. I am not quite sure how you use it. Do you run the preparation in a separate Process, like the MoonFlowerScan in on_the_fly_ptyd.py, and use the PtydScan class to load the data in the reconstruction? Or do you run a single (mpi) reconstruction script that calls that uses

[2016-09-20 15:31] bjoernenders commented on #57
And yes, please share the PtyScan instance that is causing trouble with you and the reconstruction script and (if applicable) the script that prepares the data.

[2016-09-20 15:38] aaron-parsons commented on #57
Ok I shall remove that (due to the mpi I presume?)! I am running a preparation script and a reconstruction script in separate terminals, single threaded. I am loading the data using ptypy_prep_runner.TXT, and reconstructing it with ptypy_rec_runner.TXT. The ptyscan is a simple one: I13_farfield.TXT. (I had to change them to .TXT to attach them here). The data is coming in a SWMR file that I poll u

[2016-09-20 15:39] aaron-parsons commented on #57
I even copied a lot of the moonflower scan parameters directly to try and bug shoot...

[2016-09-20 15:43] bjoernenders commented on #57
Ok I found something but got to go, I'm late I give you feedback later when have a break.

[2016-09-20 15:43] aaron-parsons commented on #57
Excellent! Thanks

[2016-09-21 08:35] bjoernenders commented on #57
Aaron, so my advise is the following:
(A) A Ptycho instance is originally not meant as a preparation script for a follow-up reconstruction. Take the input from the ".data" root  and run the prep_runner in a file just like "on_the_fly.ptyd" with an isolated Scan instance. You can put a manual pause in there to avoid that the preparation script outruns the data acquisition. The idea behind this sepa

[2016-09-21 10:03] aaron-parsons commented on #57
Hi Bjoern,
Thanks for the reply.
(A) OK. I already started to try this. I'll let you know how you get on.
(B) check() already behaves as the doc string suggests...

[2016-09-21 12:37] aaron-parsons commented on #57
I got it working now using a while loop around the auto call in the prep script:
`data = u.Param()

data.recipe = r                     ## (27) Data preparation recipe container
data.source = 'i13dls_ffp'              ## (28) Describes where to get the data from.
data.dfile = '/dls/mx-scratch/aaron/data/testdata/prepd.ptyd'  ## (29) Prepared data file path
data.shape = 128                    ## (3

[2016-09-21 12:37] #57 closed, assigned to nobody

[2016-09-21 15:53] bjoernenders commented on #57
Glad it worked finally! Could you please tell me a bit more about these file handler issues? They never occured to me even though I tried to create conflicts deliberately. Does it happen with swmr files or with the normal ones?  Have you tried the conventional mode ('append') to work with swmr files?

Of course. I'd be interested in an update for h5read. Please open a feature branch for your suppo

[2016-09-21 16:16] aaron-parsons commented on #57
It's not to do with the SWMR, since it's failing in the write of the ptyd scan. I think it's just the periodicity of the data write/read conflicting. It seems to be a function of the frame size (I guess this controls the speed of the processing), chunk size request by auto, and the sleep time. I'll see if I can make a reproducer with the moonflower scan. I guess I'm just unlucky...

The update to

[2016-09-22 10:14] alexbjorling commented on #32
Created a pull request so closing this issue.

[2016-09-22 10:14] #32 closed, assigned to alexbjorling

[2016-09-22 15:17] pierrethibault commented on #38
DM implementation now on branch indep_probes (commit 3a03c9e). Will get started on ML next.

One unresolved issue is the important change of model (single probe -> multiple probes spread out among nodes), which breaks things down the road (e.g. not all probes are saved!). My feeling is that this feature can be merged in master only after an important change in model (cf. #49)  @bjoernenders, an op

[2016-09-23 10:12] aaron-parsons opened #61 "h5rw revision"
Parent issue for all prospective changes to the h5rw module.

Topic I: Make sure h5rw and surrounding infrastructure can make use of hdf5 SWMR
- Care should be taken to keep backwards compatibility
- This could replace the current external linking  method for live processing, but then the reconstruction method should check if the file is hdf5 swmr or not so it knows where to get the data from.

Ot

[2016-09-23 10:33] pierrethibault commented on #25
We are now registered with Travis CI. @aaron-parsons, it would be great to have your help getting started with it!

[2016-09-23 11:08] aaron-parsons commented on #25
I'll do it today

---

From: Pierre Thibault [notifications@github.com]
Sent: 23 September 2016 11:33
To: ptycho/ptypy
Cc: Parsons, Aaron (DLSLtd,RAL,SCI); Mention
Subject: Re: [ptycho/ptypy] Travis CI (#25)

We are now registered with Travis CI. @aaron-parsonshttps://github.com/aaron-parsons, it would be great to have your help getting started with it!

�
You are receiving this because you were m

[2016-09-23 14:14] aaron-parsons commented on #25
Done.

[2016-09-23 14:14] #25 closed, assigned to nobody

[2016-10-06 10:32] stefanoschalkidis commented on #17
Hi all,
I've completed the core transition to TreeDict. (see latest commit on sc_dev). Preparing, loading and running DM and ML with i13dls_nfp should work, although I haven't fixed the error I get after preparing with MPI. Reconstruction scripts and PtyScan subclasses will require small adjustments (see scripts in provided link and i13dls_nfp subclass in experiment). The plotting client has not b

[2016-10-06 11:49] stefanoschalkidis opened #62 "pattern.py module obsolete?"
Is this module still required? It seems like xy.py covers most of its functionality.

[2016-10-06 11:56] stefanoschalkidis opened #63 "Geometry always updating with meta?"
see line 363 manager.py:
`if geo.get(key) is None or not (geo.precedence=='meta'):
      mk = scan.meta.get(key)`

[2016-10-06 17:35] bjoernenders commented on #17
Hi Stefanos,

thank you for your work. I browsed through you commit. Unfortunanely it is entirely mixed up with PEP8 and formatting changes. It is very hard to see where it changed. Also as long as we cannot reliably include treedict, we cannot make the transition as it breaks backward compatibility. Please do not merge the branch to master for now.
The setup.py of treedict looks pretty manual and

[2016-10-07 10:48] stefanoschalkidis commented on #17
Hi Bjoern,

Thanks a lot for your feedback. I agree that the PEP8 changes should have been a separate commit. I will try to push them over the weekend to master. The treedict changes will then be pushed to a target branch. I also managed to include treedict into our own setup.py so that it will install alongside ptypy now.

[2016-10-18 06:56] alexbjorling opened #64 "ok to add beamline PtyScan subclasses?"
For testing and practise use, I've ended up doing a few specific PtyScan subclasses (for example for beamline 5.3.2.1 of the ALS). Is it OK to simply commit these to the master branch, or is it better to keep them in feature branches or even keeping them in my local repos?

The subclasses are based on individual data sets, and I can't be sure that they will work for all data from those beamlines,

[2016-11-02 20:13] bjoernenders commented on #64
I do not yet have a fix opinion about that. Ideally, scan classes should not need an entry to **init**.py and could just be added as is even to the master branch. If the class is not used often it may get kicked out later anyway.

[2016-11-02 20:29] bjoernenders opened #66 "Files in github"
This question goes mainly out to Aaron but may also be interested to everyone.

Should we use github large file storage instead of submitting files to git?
https://git-lfs.github.com/

Because EVERY file ever submitted to ptypy will remain in its database. Even if when deleted later. The robustness of git comes from rewinding to every possible commit ever made to the repo.

I know this, because pe

[2016-11-03 08:26] alexbjorling commented on #64
thanks!

[2016-11-03 08:26] #64 closed, assigned to nobody

[2016-11-03 10:36] aaron-parsons commented on #66
I like this a lot, but I guess the question is what would we use it for? It’s an additional administrative cost (maintenance+money) so you want to make sure it’s worth the effort.

For smoke test data we want it to be small (<30mb per file) so that the tests run quickly. Travis has a limit of I think 1hr per build. Also if you are using a unit test to bug shoot you want it to  be quick. You don’t

[2016-11-03 12:00] aaron-parsons opened #67 "Unused files"
Building on what @stefanoschalkidis noticed in #62, there seem to be a number of deprecated/ unused modules/functions present at the moment. It's very clear from the test coverage stats.

ptypy/core/data_old.py -- last commit 2 years ago
ptypy/core/xy_old.py -- last commit 2 years ago
ptypy/core/xy.py raster_scan_legacy, round_scan_legacy, round_scan_roi_legacy
ptypy/engines/ML_old.py -- June 2016

[2016-11-07 11:48] aaron-parsons opened #68 "Please can you contribute ptyscan unittests! (it's fun, I promise)"
I’ve been slowly working on getting some unit tests up together for ptypy. The idea with these initial ones is that they (ultimately) run as much of the code as they can through a series of small tests to check that it still executes without errors. Similar to the compiler checks in languages like C they will allow us to at least contribute and not accidentally break something.

They are run via t

[2016-11-07 12:53] alexbjorling commented on #68
This is cool! For the engine tests, would it also be possible to check that the outcome after the five iterations is what it should be?

[2016-11-07 13:55] aaron-parsons commented on #68
Sure. I didn't say it, because smoke tests are the most important thing at the moment, but the EngineTestRunner actually returns the ptycho instance after the reconstruction. You can interrogate it for whatever you want, but I would just compare a few pixel value or the mean or something, to save dataspace.
We would also need a way to make sure the start guess is always the same.

[2016-11-07 14:00] aaron-parsons commented on #66
So I talked with Mark about this on Friday. The thought is that it is not a problem for now, provided people watch the 30mb limit. This way we would need 30x ptyscan subclasses in history before we reach 1GB. If it becomes a massive problem we can go through and prune the repo of those commits (the data won't change so this isn't a big issue version control wise). Having said that, I'm currently i

[2016-11-07 16:40] bjoernenders commented on #68
Hello Aaron,

Thanks for your work on unittests.

I am a bit hesitant to upload data for every PtyScan class. We should
ONLY consider this for Beamlines that already have a fixed data format
and are likely to stick with it The moment, a teeny tiny change occurs
in the dataset we would have to upload a new one, and I don't know how
github handles these. If the datasets are considered binary the
rep

[2016-11-07 16:52] bjoernenders commented on #66
Can't we integrate another repository just for the files? We already
have ptypy-extra that we could use. Normal people do not really need all
the datasets since unit-testing is not their main goal. And we wouldn't
have to clean the history afterwards.

On 11/07/2016 06:00 AM, Aaron Parsons wrote:

##

Bjoern Enders (Dipl.-Phys.)

Technische Universität München
Physics Department (E17)
Chair of Bio

[2016-11-07 17:08] aaron-parsons commented on #68
Hey Bjoern,

Sure. if you feel strongly about it, then let me rethink how to do this with data. The problem is making it easy to contribute too. The lfs has this in it's favour and I would prefer this to ptypy extra I think since extra is a whole other repo, whereas the lfs is inline. It is another dependency though, but only for developers who want to contribute data.

I guess the thing is that c

[2016-11-07 18:14] bjoernenders commented on #68
Hi Aaron,

yeah I must say that I do feel strongly about it. Here at the Berkeley Lab, they managed to completely screw up a software project with large files. And I always liked it that cloning ptypy to a fresh directory is a matter of seconds. If data in the repo is essential for users, then we should put it in there. But so far, I have never found that it was the case. This is the reason, that

[2016-11-21 12:26] simonesala opened #69 "OperationalError: database is locked"
I often (seemingly randomly) get the following error at the end of a reconstruction, when ptypy tries to finalize (running in mpi).
<<
Error in sys.exitfunc:
OperationalError                          Traceback (most recent call last)
/usr/lib/python2.7/atexit.pyc in _run_exitfuncs()
     22         func, targs, kargs = _exithandlers.pop()
     23         try:
---> 24             func(*targs, **kar

[2016-11-21 15:10] simonesala commented on #69
I also often get the same kind of error upon launching the reconstruction, still with mpi, but regardless of the used engines (i.e. not only with OPR): namely << sqlite3.OperationalError: database is locked >> and this prevents it from starting. Relaunching it till it succeeds has been my quick-fix so far. Any better suggestions (especially as to where to look at for the possible source of the pro

[2016-11-29 17:08] bjoernenders commented on #69
This interactive shell is causing quite some trouble. Do we have an on/off switch for that?

[2016-12-02 22:54] bjoernenders commented on #69
Ok my patience with this interactive shell is over. It is just not stable. With commit 7221f8a the interactive shell is in a new submodule `debug`. That means that now you have to ACTIVELY import the debug module to get the IPython prompt in your scripts. Just add the explicit import

from ptypy import debug

in your scripts to reactivate it. The usual import "import ptypy" will no longer import t

[2016-12-09 16:57] simonesala commented on #69
Broken for me.
Running 'from ptypy import debug' just returns 'ImportError: cannot import name debug'. Am I correct in understanding the debug module is simply not installed?
Will look more into this.

[2016-12-09 18:33] bjoernenders commented on #69
Hi Simone.
Thanks for the feedback. Debug was simply not listed as module in setup.py. But it worked in interactive mode. Commit 590219a should have fixed that.
Bjoern

[2017-01-16 17:59] alexbjorling opened #74 "Possible bug in the View class"
While working with my 3D `Storage`s and `View`s, I found some very weird behavior which I can also reproduce for 2D objects on the `master` branch.

For certain combinations of `psize` and `coord`, getting a view on a storage like `S[V]` returns nonsense. Reformatting the `Storage` alternately gives two incorrect views (see below). Are there some constraints on `psize`, `coord`, `shape`, etc, that

[2017-01-18 19:38] bjoernenders commented on #69
Simone, please report if the bug still exist and close the issue if commit 590219a fixed the issue

[2017-01-18 19:49] bjoernenders commented on #74
I confirm this bug. Thanks for reporting (Although the script above does not execute as ptypy is not imported).
A long time ago, it took me a while to stabilize this reformatting issue. I will investigate this and get back to you. Maybe this should be a part of unit testing too.

[2017-01-23 11:47] simonesala commented on #69
I haven't seen this issue any more, but I cannot close it as it is not even clear to me how the 'OperationalError: database is locked' had anything to do with the ipshell. I can confirm the latter is working though.

[2017-01-23 12:13] simonesala opened #75 "utils.imsave flat array (vmin == vmax)"
Whenever utils.imsave is called for a flat array (e.g. all 0j) it leads to an assertion error within complex2hsv because vmin == vmax.

[2017-01-27 19:15] #69 closed, assigned to nobody

[2017-03-27 00:41] cmkewish opened #80 "ptypy > core > geometry > _keV2m"
Hi Bjoern,

I have a quick question: in PtyPy > core > geometry module, why is the hardcoded conversion of photon energy in keV to wavelength in meters:

`_keV2m = 1.240597288e-09`

instead of using the more common value:

`hc = 1.23984193e-09 keV*m` ?

[2017-03-27 20:19] bjoernenders commented on #80
That is a good question. I don't recall how I came up with that number. It cold be historical reasons.
 ``1.23984193e-09`` is even on wikipedia. Are you used working with git on a locked master branch? If not, I suggest that you commit a fix to get used to it. If you are used to the procedure and think that is an unnecessary exercise, I can do a quick fix.

[2017-03-30 00:54] cmkewish commented on #80
OK I will try to work out how to submit the changed file.

[2017-04-06 20:17] kdatta6 opened #82 "How to generate my own diffraction patterns?"
Hello Ptypy team,

I'm trying to generate my own diffraction pattern .ptyd files from input images that act as the sample.  I saw that the MoonFlowerScan class does exactly this, using the moon as the probe and the flower image as the sample.  In fact, after running the MoonFlowerScan class and generating a .ptyd file, I can reconstruct the original images of the moon and the flowers using Ptypy's

[2017-04-06 20:58] bjoernenders commented on #82
Hello Kaushik,

in order to help you, please append the modified PtyScan subclass and
the reconstruction script. Thanks!

And yes you can create you own .ptyd in a very simple way with your own
simulation code. Just mimic the structure of the ptyd file in form of a
dict and use ptypy.io.h5write to create an h5 compatible format. Than
you can use PtydScan to feed the data into the machine.

Best,

[2017-04-07 16:35] kdatta6 commented on #82
Hi Bjoern,

In order to generate my new .ptyd file, the only thing I changed in data.py's MoonFlowerScan class was line 1396.  Instead of:
`self.obj = resources.flower_obj(frame)`
I used the line:
`self.obj = resources.tree_obj(frame)`
so that it uses the tree image as the sample in the experiment.

I then ran:
`sudo python setup.py install`
to make sure the code was updated.

Next, to create my .

[2017-04-12 00:48] bjoernenders commented on #82
The treefile wasn't read in correctly. See fix a8c6af6. This is not a complex object, just absorbing in the way that you would use it. Hope that helps.

Ptypy has also fully equipped for simulation and generating data. Including different types of detectors. Have a look at the SimScan class for that. Unfortunately I have not yet time to write an entry for the tutorials. But the basic principle is,

[2017-04-13 00:44] kdatta6 commented on #82
Thank you for the help, Bjoern.  With the fix, when I reconstruct the object transmission function, the amplitude has high contrast, but there's no contrast in the phase- every pixel has the same phase.  However, at least it is converging and I'm no longer seeing just noise.  I will try playing around with the  ptypy/resources/__init__.py file to see if the phase contrast can be improved.

I also

[2017-04-13 03:37] bjoernenders commented on #82
I am not surprised, as there is no phase in tree_obj function. See my first reply from before.

Also please have a look at the examples in the `template/` directory. A large portion are just simulation, e.g. `ptypy_cSAXS_PseudoBone_6p2keV.py`

Good luck.

[2017-04-13 03:37] bjoernenders commented on #82
I close this issue now.

[2017-04-13 03:37] #82 closed, assigned to nobody

[2017-04-13 03:38] bjoernenders commented on #80
Fix was accepted.

[2017-04-13 03:38] #80 closed, assigned to nobody

[2017-06-03 15:51] stefanoschalkidis commented on #23
Hi all,

I've completed the unittests for classes.py #83 . Theses are very basic tests which check initialization and default parameters. Some things could be implemented a bit nicer, e. g. parameter verification via templates, but this is simply a first attempt to get things off the ground.

To run the unittests, just execute the following in your ptypy root directory:
`python -m unittest discove

[2017-06-09 00:03] cmkewish opened #84 "Python 2.7 support will finish in 2020"
FYI
https://pythonclock.org/

[2017-06-20 21:30] alexbjorling commented on #74
Bumping this bug (of which I have no memory!). Will also try to look into it.

[2017-06-20 21:31] alexbjorling commented on #56
Great, will do this and file a PR.

[2017-08-10 08:08] alexbjorling opened #87 "switch_orientation misdocumented"
The very confusing business of data frame orientation is made worse by a typo in the online docs (that I use all the time...)

http://ptycho.github.io/ptypy/rst/parameters.html

Values 2 and 3 are swapped compared to the `switch_orientation()` docstring and also compared to what actually happens with the data.

[2017-08-17 15:01] alexbjorling opened #91 "Working on windows?"
One of my users is considering switching to ptypy. The problem is that he wants to do it on windows.

He's reporting 3 symptoms (see output)
* Everything that ptypy prints is printed 4 times (is it doing MPI by itself?). But stuff from the nanomax PtyScan is printed only once.
* Automatic COM guessing fails miserably and gives negative values
* After that, it crashes in a way suggesting that the i

[2017-08-18 09:43] jesperwallentin commented on #91
I'm the windows user...

When I use the autoplot, I get the following message (with autoplot diabled, it doesn't appear):

[code]

[2017-08-18 12:27] alexbjorling commented on #91
Another bug is that os.rename doesn't work on windows if the target file exists. Did a workaround on the nanomax branch [commit 80dfe70](https://github.com/ptycho/ptypy/commit/80dfe70340c3493109fad8c18081abebf0141328). I think the same fix could go into master.

[2017-08-18 12:30] alexbjorling commented on #91
OK so some of the symptoms above were caused by running many times in the same interpreter.

But still, there's an `os.rename` bug (previous comment), the COM determination doesn't work, and spawning the plot thread crashes as mentioned.

[2017-08-21 17:55] bjoernenders commented on #91
The plot Thread will be abandoned in future versions. But you can also manual disable autoplotting and run the plot thread in a separate process. Try `io.autoplot` = `False` or `None`.

Have you seen PyInstaller for cross platform deployment? Maybe that is an option:
https://pyinstaller.readthedocs.io/en/stable/index.html

[2017-08-21 20:24] #75 closed, assigned to nobody

[2017-08-22 07:33] alexbjorling commented on #91
Thanks Björn, I didn't know if PyInstaller.

Running the plotter separately is a good idea, I think there is even an issue with running ptypy.plot on windows, it doesn't like the extension or something (or how was it @jesperwallentin?). Maybe consider renaming it for compatibility.

I will look into the COM determination issue if I find the time.

[2017-08-22 09:01] jesperwallentin commented on #91
I haven't tried PyInstaller, but I think Anaconda worked fine.
ptypy.plot created problems because Windows 10 interprets the .plot as a file extension. Perhaps there is a good way of circumventing that, but I renamed it to ptypy_plot.py and run it from Spyder.

[2017-08-23 10:07] alexbjorling commented on #74
OK the problem here is that if pcoord is right between two pixels, rounding becomes unpredictable and all goes bad. Filed a PR with a workaround.

[2017-08-29 07:19] alexbjorling commented on #91
I am unable to reproduce the COM error on this windows machine. @jesperwallentin check that the data is loaded correctly because the code that finds the COM looks very simple and should work.

_edit: I used the wrong data, it reproduces just fine, see debug below._

[2017-08-29 07:22] alexbjorling commented on #91
On my windows machine, ptypy.plot doesn't work at all (even after fixing the bug introduced by PR #76) - it just hangs. But the script I normally use for plotting reconstructions does work, so @jesperwallentin you could try that and strip or modify it as you like.

https://github.com/alexbjorling/nanomax-analysis-utils
https://github.com/alexbjorling/nanomax-analysis-utils/blob/master/apps/plotPty

[2017-08-29 07:36] #56 closed, assigned to alexbjorling

[2017-08-29 07:37] #74 closed, assigned to alexbjorling

[2017-08-30 10:55] alexbjorling commented on #91
Ok the COM error is because of an overflow in the weighted sum of `utils.mass_center`.

[code]

Debugging on windows (wrong):
[code]

Debugging on linux (correct):
[code]

So apparently on windows, np.indices gives an `int32` by default, but on my linux box it gives an `int64`. The result is that on windows the sum of (high photon counts * a potentially high pixel index) overflows the `int32`.

Th

[2017-08-30 12:51] jesperwallentin commented on #91
Thanks Alex.
Seems to be a general feature of numpy on windows 10: [https://stackoverflow.com/questions/36278590/numpy-array-dtype-is-coming-as-int32-by-default-in-a-windows-10-64-bit-machine](url)

[2017-08-31 06:58] alexbjorling commented on #91
OK closing this issue.

Plotting on windows doesn't seem to work but that can be done outside of ptypy. Let's make sure that future plotters are portable.

[2017-08-31 06:58] #91 closed, assigned to alexbjorling

[2017-09-08 09:43] pierrethibault opened #97 "Generalize "error" output of engines to any relevant metric"
Currently the `error_dct` output is very much tailored to the difference map engine. Other engines could output different metrics (for instance ML could output individual cost function values for regularizer terms). It would be good to track places where the current error format is hard-coded and make it engine-specific.

[2017-09-12 07:50] daurer opened #98 "How do I properly load multimode initial probe from file?"
Hi,

I am trying to load an existing multi-probe from a .ptyr file using this code:

[code]

What I was expecting is that ```P.probe.S['S00G00'].data``` would be the same as the multi-probe stored in ```f['content']['probe']['S00G00']['data']``` of result.ptyr, which is not the case because of some rescaling during the loading procedure:

1) Since I specified ```p.scans.MF.illumination.photons = N

[2017-09-12 22:02] bjoernenders commented on #98
Hi Benedikt,

thanks for filing this well documented question.

- I would first advise to try to do:
  `p.scans.MF.illumination.diversity = None`
  That way you skip illumination.py messing with your. Photon rescaling should not be an issue then.

- In another option you simply sideload the probe after initialization.
  `P.probe.S['S00G00'].data = u.load_from_ptyr(....)` (or any other way)
  and c

[2017-09-14 07:18] daurer commented on #98
Hi Bjoern,

thanks for your answer.

- Setting ```diversity=None``` does avoid unwanted rescaling
- Loading the probe separately (like you suggested) works

However, both solutions are not very intuitive, so you might wanna improve the probe loading or document this particular case.

Thanks again,
Benedikt

[2017-09-14 09:37] pierrethibault commented on #98
I'm reopening this to make sure that we don't forget to make the improvements when our model rewrite it complete.

Thanks for pointing that out.

Pierre

[2017-09-14 16:37] stefanoschalkidis commented on #21
Hi all,

One of the reasons I started working on unittests was to make the code Python 3 compatible. While I first thought it would be good to have all unittests ready before starting the rewrites, I now believe it is better to do them right away because of fresher memory. This is why I would like to discuss and agree on certain Python 3 design choices.

- String ambiguity
There are three ways to

[2017-09-15 10:34] alexbjorling opened #102 "io.autosave.interval = 1 doesn't work"
I can't dump a ptyr file on every iteration. With
[code]
or
[code]
it behaves as expected, but with
[code]
it doesn't save at all.

[2017-09-15 10:37] alexbjorling commented on #102
I think that this line in `ptycho.py`
[code]
should just check for `>0` instead.

[2017-09-18 12:34] #102 closed, assigned to nobody

[2017-09-26 08:15] aaron-parsons opened #105 "Probe sharing between scans?"
Hi folks,
I remember talking about this in the past, and I'm not sure if this is still a supported feature.
I have a case where I want to share a probe between two scans. From what I understand, to do this I should just set for instance: p.scans.scan_01.sharing.probe_shared_with = 'scan_00'.

However if I do this, I still get two sets of probes, one for each scan.

Does anyone have an example scri

[2017-09-26 08:22] bjoernenders commented on #105
Hi Aaron,
Yes it looks like you got it right. Could you post the script please?
The only example I know of currently is the object sharing one in the templates.
Best,
Bjoern

[2017-09-26 08:32] aaron-parsons commented on #105
Aha. I shall have a check through this template first to make sure I didn't misunderstand.
________________________________
From: Bjoern Enders [notifications@github.com]
Sent: 26 September 2017 09:22
To: ptycho/ptypy
Cc: Parsons, Aaron (DLSLtd,RAL,SCI); Author
Subject: Re: [ptycho/ptypy] Probe sharing between scans? (#105)

Hi Aaron,
Yes it looks like you got it right. Could you post the script p

[2017-09-26 08:35] bjoernenders commented on #105
It's the cSAXS pseudoBone script.

[2017-09-26 08:41] aaron-parsons commented on #105
Thanks:-)

I'll write a reproducer using the sim module so it's similar to this.

If it's still a problem, I'll post the script.

________________________________
From: Bjoern Enders [notifications@github.com]
Sent: 26 September 2017 09:35
To: ptycho/ptypy
Cc: Parsons, Aaron (DLSLtd,RAL,SCI); Author
Subject: Re: [ptycho/ptypy] Probe sharing between scans? (#105)

It's the cSAXS pseudoBone script.

[2017-09-29 12:06] aaron-parsons commented on #105
I can make it work when I use an example, so clearly I am doing something wrong in my version. I've added an example to the templates folder just so it's explicit for people who want to use it in future. It is only one parameter I guess, but it's there. See PR #106.

[2017-09-29 12:06] #105 closed, assigned to nobody

[2017-10-10 22:08] cmkewish opened #108 "Ptypy hangs with 100% CPU usage"
Tricky one:

I have noticed that occasionally during DM iterations, ptypy will simply stop producing output. This infrequently happens but usually it is during a long mpi reconstruction of a large dataset.

The CPU load doesn't change from its maximum value, but the process is completely hung and no further output is given. Leaving the computation running in this state for many hours after it shou

[2017-10-11 07:35] alexbjorling commented on #108
It could be MPI deadlock, which can keep the CPU:s running at full speed,
https://stackoverflow.com/questions/35208163/comparing-cpu-utilization-during-mpi-thread-deadlock-using-mvapich2-vs-openmpi

Ptypy uses the simple Send which leaves it up to the implementation to decide whether to block execution or to buffer the message, perhaps with bigger data it will decide to block. Not sure how this ap

[2017-10-11 21:23] cmkewish commented on #108
Thanks for the tips Alex, I will look into this.

[2017-10-14 22:00] cmkewish commented on #108
For the record, a ctrl+C doesn't provide any additional information, e.g.,
[code]

[2017-10-16 06:07] alexbjorling commented on #108
Oh I guess mpiexec catches the ctrl-c then. Right, I would start putting loads of print statements in the DM engine, especially before and after any MPI call (any call to parallel.xxx). But there's probably a more professional way to debug it.

[2017-10-26 12:46] simonesala opened #111 "regularizer slowing down ML"
This issue actually relates ML's preconditioner rather than ML's regularizer.
I noticed that whenever turning on the preconditioner (scale_precond = True) ML iterations take significantly longer. In the latest case I found, iterations took ca. 2.3s each without the preconditioner and ca. 6.0s with it.
Maybe there's some optimisation that could be carried out at code level for this gap to reduce.

[2017-10-28 09:27] simonesala commented on #111
commit 8b1668d66450eb5320a436fd5a9656839264edd3 fixed issue #111
(This fix involved removing a divide by 0 which lead to NaNs slowing down iteration time.)

[2017-10-28 09:27] #111 closed, assigned to nobody

[2017-11-07 08:10] bjoernenders opened #114 "Creating a .ptyd file from scratch"
We need to add a step by step guide, how a .ptyd could be created using h5py.File or h5write. This should extend the tutorial on subclassing PtyScan

[2017-11-08 00:07] cmkewish commented on #114
This is the approach I use, in abbreviated form:

[code]

[2017-11-09 07:27] bjoernenders commented on #114
Thank you for sharing this Cameron. You could also try to subclass PtyScan to process the raw data.

[2017-11-13 09:13] alexbjorling commented on #68
@aaron-parsons how do you run all tests locally again?

[2017-11-13 10:07] aaron-parsons commented on #68
Hi Alex, just run
py.test ptypy/test

[2017-11-13 10:30] alexbjorling commented on #68
Ah py.test, I knew there was a magic command there somewhere. Thanks.

[2017-11-13 10:45] alexbjorling opened #121 "clean up issues"
Now that we are almost converging on a 0.3 release candidate, a lot of old issues can be closed or updated with new info on actual choices made. This is a meta-ticket to do that.

[2017-11-13 16:18] pierrethibault opened #123 "Split the package to free part of it from patent constraint"
Ptypy's underlying data management is quite general - we have used it to stitch images and extract detector response functions. We should consider splitting this part, along with some general utilities, as a stand-alone library. We might want to keep an eye on [scikit-beam](https://github.com/scikit-beam) as a place to contribute code.

[2017-11-16 08:45] alexbjorling opened #126 "DM 3d suitable?"
A methodology question for you DM experts out there,

DM turns out to reconstruct my 3d Bragg data without modification. Is there any fundamental reason why this is wrong (like some assumptions, normalization, constants...) that implicitly assume two-dimensionality?

[2017-11-16 14:13] alexbjorling opened #127 "fix ptypy.plotclient"
...which is broken because of changes in validator/descriptor.

[2017-11-17 22:36] bjoernenders commented on #126
Isn't that wonderful? The algorithm formulated in this abstract way has no implicit bias towards 2d I would think.

[2017-11-20 07:19] alexbjorling commented on #126
I know it's pretty cool. Ok great!

[2017-11-20 07:19] #126 closed, assigned to nobody

[2017-11-23 14:34] alexbjorling opened #128 "Silence EvalDescriptor.validate"
...or at least respect the log level

[2017-11-24 14:06] alexbjorling opened #129 "Allow p.engine?"
Right now, the settings in for example `p.engine.DM` are not used, but they are also not rejected by `EvalDescriptor.validate`. I think we have a choice here, either we allow them (and then they need to be honoured) or we don't allow them (and then the descriptor should throw an error).

[2017-11-24 16:05] alexbjorling opened #130 "is meta/common/info ok?"
I just noticed that minimal_load_and_run gives way worse reconstructions than minimal_prep_and_run. Does this mean that the meta/info business is still not OK, or is there a natural explanation?

[2017-11-24 19:36] bjoernenders commented on #130
I cannot confirm that. The engines are different, e.g. one was using ML and there were different itterations throughout. And you are not using the 'file' loading option for PtydScan, meaning that the meta issues shouldn't have much of an affect. I harmonized the scripts now in f7807bf.

[2017-11-24 19:47] alexbjorling commented on #130
Ah sorry I missed the obvious. Solved.

[2017-11-24 19:47] #130 closed, assigned to nobody

[2018-01-02 16:27] aaron-parsons opened #132 "Write equivalent numpy "mini-kernels" (incl. method to convert between pods and numpy arrays)"
This is the first step of the CUDA enhancement project. The idea is that small manageable parts will be rewritten into standard numpy calls, then ported into CUDA.

The contractor will look at using unified memory and streams to blend this (and memory transfers ) seamlessly into the existing architecture.

Work will be done on a CUDA branch, which will be taken off of the ocl branch.

[2018-01-02 16:38] #62 closed, assigned to nobody

[2018-01-02 16:43] aaron-parsons commented on #67
reference PR #134

[2018-01-02 16:47] aaron-parsons commented on #132
This references: #31 #30

[2018-01-03 09:20] alexbjorling commented on #132
Isn't it better to start this work after the 0.3 release? The ocl branch sits on top of master which is super outdated. What do you think @pierrethibault and @bjoernenders ?

[2018-01-03 10:09] aaron-parsons commented on #132
Hi Alex.

I wrote this ticket based on a conversation with Bjoern where he suggested to come off of the ocl branch.

However looking at the network graph I see you are completely right and that doing this will make everything very out of date with the release_candidate, which obviously has an entirely new way of handling PODs.

I talked to Mark and what we propose is to make a branch off of the re

[2018-01-04 04:28] bjoernenders commented on #132
Hi all,

I just read this thread and will get back to you today with a suggestion. I am currently working on updating the documentation. However I think we should use the nd-classes branch and I will merge the release candidate into it to form a most recent branch that is able to build a the documentation. Once that is done, we need a brief discussion on how to handle the parameter tree which has

[2018-01-04 08:55] aaron-parsons commented on #132
Thanks Bjoern!

From: Bjoern Enders [mailto:notifications@github.com]
Sent: 04 January 2018 04:28
To: ptycho/ptypy <ptypy@noreply.github.com>
Cc: Parsons, Aaron (DLSLtd,RAL,SCI) <aaron.parsons@diamond.ac.uk>; Assign <assign@noreply.github.com>
Subject: Re: [ptycho/ptypy] Write equivalent numpy "mini-kernels" (incl. method to convert between pods and numpy arrays) (#132)

Hi all,

I just read this

[2018-01-04 09:39] alexbjorling opened #135 "ptyr files contain no data in nd-classes"
Just noticed that the `ptyr` files produced by the `nd-classes` branch (with `minimal_prep_and_run.py` after enabling `autosave`) contain no object/probe data. Looking in the debugger it's not clear to me why, the data structures in `Ptycho.save_run()` look very similar. Unfortunately I don't have time to investigate it.

[2018-01-05 05:19] bjoernenders commented on #135
I'll have a look at it soon

[2018-01-05 05:26] bjoernenders commented on #128
It does respect the log level, only that missing parameters get a logging.WARN priority. I set that back to logging.INFO on the nd-classes branch. I don't think, that with this vast amount of parameters we should not be warning about those that are missing.

[2018-01-05 05:40] bjoernenders commented on #132
Documentation is functional on the nd-classes branch, but I only checked for warnings and errors, not if the documentation makes sense. I probably would like some help with that, people looking for errors etc.

[2018-01-05 08:02] alexbjorling commented on #128
Ah I see. Good!

[2018-01-09 12:49] aaron-parsons opened #136 "OPR scan model"
Just talking this through with Pierre.
A new scan model needs to be created to take care of the OPR enhancements.
The current most up to date version of the OPR algorithms is on the I13_201705_PT branch. We plan to create a new branch off of release_candidate and just copy in the existing code that is required since the old branch is very out of date.

[2018-01-09 12:50] aaron-parsons opened #137 "OPR scan model update"
Refactor the OPR engines to use a new scan model called OPRModel.

[2018-01-09 12:51] aaron-parsons opened #138 "Investigate use of existing libraries for MPI reduce_dimension for OPR"
Investigate use of existing libraries for MPI reduce_dimension for OPR

[2018-01-10 15:23] aaron-parsons opened #139 "Should the layer of the View class be an int or tuple?"
So I am gradually catching up on the latest changes to ptypy so forgive me if this is an obvious one that I'm not understanding.
Pierre and I are currently trying to implement the OPR reconstruction engines by a new ScanModel subclass. OPR basically requires a separate probe at every scan position in the reconstruction. They get combined via an SVD later on.

In Pierre's early version he uses the

[2018-01-11 20:17] aaron-parsons commented on #135
I have also just found this. I might have a look if I get chance tomorrow.

[2018-01-16 12:14] aaron-parsons opened #142 "Extract autoplot from parameter tree"
We could extract autoplot from the default parameter tree.

[2018-01-16 12:16] aaron-parsons commented on #139
We will stick with the integer value now and let the scan model do the math for the indices. If this comes up again in another model we can consider changing it, but for now the OPR is the only case.

[2018-01-16 12:16] #139 closed, assigned to nobody

[2018-01-16 12:23] pierrethibault commented on #135
@bjoernenders:

@aaron-parsons and I just looked into this. We haven't found the problem but there is something fishy about lines [587-594](https://github.com/ptycho/ptypy/blob/201d756f230581e92fb72fd668a44f81db144228/ptypy/core/ptycho.py#L587-L594) in `ptycho.py` (from latest `release_candidate`): autosave can be attempted before the very first iteration, so that the default in `path.Paths.runtim

[2018-01-16 13:16] aaron-parsons commented on #136
So the original merge now runs and after checking with the working plotting, seems to give a sensible result. We still can't get the saving to work so can't look further.

Next steps are:

- [x] Make saving work #135
- [ ] Use new scan model

[2018-01-30 12:21] aaron-parsons opened #144 "Extend testing of the validator"
There are still parameters being missed/ not validated properly.

This is a ticket to report and investigate them.

[2018-01-30 12:22] aaron-parsons commented on #144
Can't set diversity parameters due to high limit being incorrectly triggered. Suspect it may be because of joint typing (tuple, float).

[2018-02-28 14:54] wfeschen opened #146 "Position Refinement with multiple processes"
Hi,

I want to implement a position refinement algorithm [1] to the existing DM-engine. My implementation works fine when I run Ptypy in a single process.
`mpiexec -n 1 python scripy.py`
But when I run the same script on multiple processes e.g.
`mpiexec -n 2 python script.py`
python freezes at the first iteration where I update the positions.

In the position refinement algorithm I generate random

[2018-02-28 21:41] pierrethibault commented on #146
Hi Wilhelm,

Great, I hope you submit a PR with this nice addition!

You probably have a *deadlock* because `ob.reformat` contains MPI calls and you put it in the `if pod.active` block, which is entered by a single node and skipped by all others. As far as I can tell there is no way to run your code in an MPI-efficient way because all nodes need to be informed of changes in storages. Essentially y

[2018-04-13 13:52] wfeschen commented on #146
Hello Pierre,

thanks for your response. I am sorry that my answer took me so long. I think that I understood the problem and implemented a version which somehow works in parallel. I had to implement a work-around where I temporary copy the object container (`self.ob`). I create a View to this container where I change the coordinates.

So my code works now the following way. After an iteration of

[2018-04-23 15:34] benglvr opened #148 "Installation requirements.txt"
Suggestion: Create requirements.txt file (pip freeze > requirements.txt) which can be installed with pip install -r requirements.txt for easy installation.

For debian 8 / python 2.7.14 in a fresh pyenv, the following is installed (using release_candidate branch)
[code]

Tests: 3 failed, 133 passed (?)
https://gist.github.com/benglvr/4e8fbebc778f8697292487542cf019e0
minimal_prep_and_run.py runs an

[2018-05-01 09:41] aaron-parsons opened #149 "Prepare CUDA work for PR closure."
It works! :-) But still needs a bit work to get this into the release candidate.

[2018-05-01 09:42] aaron-parsons commented on #135
Looking at this now. Have made a test which fails.

[2018-05-01 09:43] aaron-parsons commented on #132
This side of things has been done, and the CUDA kernels written to match them. There are more tweaks needed, but I raise this in #149 . Closing this now.

[2018-05-01 09:43] #132 closed, assigned to aaron-parsons

[2018-05-01 10:27] aaron-parsons commented on #129
Just talked with Pierre about this, he doesn't really think it's needed. I'm ambivalent too.

@bjoernenders do you have any preference?

[2018-05-02 14:07] aaron-parsons commented on #135
This is just because the h5rw doesn't support an OrderedDict to be saved, it was actually failing silently because:io.h5options['UNSUPPORTED'] = 'ignore', setting this to fail showed up the issue.

It's a trivial fix, but I'm just knocking up a quick set of tests to make sure it doesn't happen again, and that we proof h5rw against failure in the future. Hopefully will be done today.

[2018-05-02 17:42] aaron-parsons commented on #135
I'm fixing this on the fix_saving branch. It turned out that both ordereddict and rec array weren't supported. OrderedDict was an easy one, but rec array with unicode strings wasn't supported by h5py. I used the fix Andrew gives here: https://github.com/h5py/h5py/issues/289 for the recarray.

I've pushed this (plus tests to make sure this doesn't happen again), but I want to fix the loading before

[2018-05-03 15:21] aaron-parsons commented on #135
Fixed in release_candidate now. Tests have been added to all of h5rw, with one exception which I will raise a ticket for.

[2018-05-03 15:21] #135 closed, assigned to aaron-parsons, bjoernenders

[2018-05-03 15:24] aaron-parsons opened #150 "Make a test for h5rw reading and writing with STR_CONVERT"
I wrote some tests for h5rw, but I couldn't figure out what the STR_CONVERT functionality was for.

Any chance either @pierrethibault or @bjoernenders could fill in the skipped tests there since they wrote it?  :-)

Thanks!

[2018-05-03 15:25] aaron-parsons opened #151 "load_run fails, due to a validator issue"
Perhaps fix this as we are doing https://github.com/ptycho/ptypy/issues/144

[2018-05-03 15:36] aaron-parsons commented on #151
made a new branch to fix this

[2018-05-10 13:01] aaron-parsons commented on #151
This is interesting. It's not actually a problem with load_run.

If I make a parameter tree, which passes defaults_tree.validate(p), and then do P = Ptycho(p, level=2), then the parameter tree which comes out from P.p does NOT pass defaults_tree.validate(p.P), despite having been used in the ptycho engine.

It actually raises a good point. Currently, the validator checks that we don't pass junk in

[2018-05-14 12:06] #151 closed, assigned to aaron-parsons

[2018-05-24 13:04] simonesala opened #152 "mishandled defaults None of type Param"
Both in 'core/illumination.py' and 'core/sample.py' parameters of type Param (e.g. 'process' and 'diversity') should result as None by default; upon running ptypy without specifying a value for them (i.e. falling onto defaults) they result in Param containing the other default subparameters instead.
How should the defaults be rewritten to get the intended behaviour? E.g. diversity and process is N

[2018-05-25 13:01] pierrethibault commented on #152
I am pretty sure the problem is in [lines 636-637 of `descriptor.py`](https://github.com/ptycho/ptypy/blob/50914a27b27af69aaba044169c3a5f11cda2a409/ptypy/utils/descriptor.py#L636-L637). I can't remember why we thought that we needed this.

[2018-06-08 14:05] simonesala opened #153 "mask"
I'm working on OPRmodel using the AMO_LCLS.py loader, but I suspect this issue is true to the release candidate too.
Whenever providing a mask file to the loader via weight2d from load_weight() it is not used at all by ptypy.
I also tried to change the code and either load it as one mask per frame directly in weights from load() or add 'has_weights = True' at line 694 of 'ptypy/core/data.py' [just

[2018-06-08 14:34] pierrethibault commented on #153
We have seen non-contiguous array issues before: #51

[2018-06-11 14:41] aaron-parsons commented on #129
Bjoern agree with us.

[2018-06-11 14:41] #129 closed, assigned to nobody

[2018-06-11 14:42] aaron-parsons commented on #127
This is just an argparser issue.

[2018-06-11 16:19] bjoernenders commented on #87
Fixed for release candidate. That's enough

[2018-06-11 16:19] #87 closed, assigned to bjoernenders

[2018-06-11 16:37] #47 closed, assigned to stefanoschalkidis

[2018-06-12 11:17] frgfrg opened #154 "Ptypy doesn't save recontructed data in ptyr files when using DMGpu engine"
Hi all,
we’ve correctly installed ptypy from the gpu_cuda branch and the DMGpu engine is running fine (we're seeing it run trough the autoplot function). Both illumination and total reconstruction are correctly updating in the plot client. The problem arises when we open the ptyr file, because both with ptypy.plot and any hdf visualization tool, the groups "obj" and "probe" are empty. See the atta

[2018-06-12 12:01] aaron-parsons commented on #154
Hi @frgfrg,

I'm pleased you've been using it! You should be aware that this feature is still in early development, so lacks a fair few things that we will be putting in over the coming months.

The save issue is one stems from an issue (now solved) that we created during the new parameter implementation in the release_candidate. The gpu_cuda branch is slightly behind. I'll update it later today s

[2018-06-12 15:16] frgfrg commented on #154
Hi Aaron, really thank you for your prompt response! Ptypy is so alive!
OK, then we'll wait for your update :) Is the gpu_cuda branch the "most updated" one between all the GPU enabled branches?

P.S.: I've updated my bio :) I'm Francesco, greetings from Elettra Sincrotrone Trieste light-source :)

[2018-06-12 19:05] aaron-parsons commented on #152
Ok. Bjoern looked at this, and it looks like it's actually the override of default in EvalDescriptor that causes this issue starting line 626. It basically prioritises being a Param over anything else. We'll take a look probably tomorrow now.

[2018-06-12 19:15] aaron-parsons commented on #152
Sorry I just realised that this was exactly what Pierre said too. My bad!

[2018-06-12 19:19] aaron-parsons commented on #154
Hi Francesco!

Nice to e-meet you. :-)

I've just pushed a merge to the gpu_cuda branch. This now contains all the latest fixes and the tests show it saves data now. Yes, this is the most up to date branch.

Beware: it will be quite unstable over the next couple of months since this is where all the development is happening. I'd be pleased to hear of bugs, and will try to broadcast what I am up to

[2018-06-12 19:35] aaron-parsons commented on #152
It's interesting. ptypy/test/util_tests/descriptor_test.py seems to pass but it has similar uses inside to what we propose here. I will look to try and break this test tomorrow morning before applying the appropriate fix.

[2018-06-13 08:03] frgfrg commented on #154
Good morning Aaron!
Nice to e-meet you as well!!! Greetings from my colleagues too, we really thank you for the effort and kindness.
We are doing nearfield pty. OK, so we'll remain on this branch for the cuda part and we'll move to the rc for the "production". But for the moment, staying on the updated gpu_cuda branch, unfortunately after the fix, the same script that yesterday worked make now pyt

[2018-06-13 08:46] aaron-parsons commented on #154
Hi Francesco,

As a quick thought, did you delete the build directory and rerun the install? There were quite a few changes.

If that doesn't work, could you either post, or email me the script you are using? I can add it to the tests then so that we catch it in development rather than deploy.

Aaron

[2018-06-13 09:37] #128 closed, assigned to nobody

[2018-06-13 12:34] frgfrg commented on #154
Hi Aaron,
yes, all has been compiled with a fresh build folder. The script we are using is the basic minimal_load_and_run.py with the rspa20160640_si_001 dataset

from ptypy.core import Ptycho
from ptypy import utils as u

p.verbose_level = 5
p.io = u.Param()
p.io.home = "/tmp/ptypy/"
p.io.autoplot = u.Param()
p.io.autoplot.active = True

p.scans.MF = u.Param()
p.scans.MF.data= u.Param()
p.scans.M

[2018-06-13 13:04] aaron-parsons commented on #142
I can't remember why I said this.

[2018-06-13 13:04] #142 closed, assigned to nobody

[2018-06-13 13:05] aaron-parsons commented on #68
I think we are now moving away from this idea towards a plugin structure so I will close this.

[2018-06-13 13:05] #68 closed, assigned to nobody

[2018-06-13 13:07] aaron-parsons commented on #137
This is a duplicate ticket

[2018-06-13 13:07] #137 closed, assigned to aaron-parsons, pierrethibault

[2018-06-13 13:08] bjoernenders commented on #153
I found the bug for this. It's in the data preparation. While the data was made contiguous, the mask was ignored for no reason at all.  Already fixed in local branch, will be put upstream today.

[2018-06-13 13:16] aaron-parsons commented on #9
This will go hand in hand with #145

[2018-06-13 13:21] aaron-parsons commented on #4
A warning is now raised for the user to add diversity for this case. This was decided upon so as not to introduce diversity in the case where the probe is known. It puts it in the hands of the (now informed) user.

[2018-06-13 13:21] #4 closed, assigned to nobody

[2018-06-13 13:22] aaron-parsons commented on #1
I think this has been the case for a good while now. Closing...

[2018-06-13 13:22] #1 closed, assigned to nobody

[2018-06-13 13:49] aaron-parsons commented on #148
Hi Ben,

Sorry it took me so long to get back to you! I was involved in some projects.

Currently the way we manage our dependencies is via conda. You'll notice an environment.yml file in the repo which you can activate using conda env create --file environment.yml. The rest of the install commands are inside .travis.yml file which is tested by travis every time someone pushes to their remote.

Th

[2018-06-13 14:12] aaron-parsons commented on #67
This is now done.

[2018-06-13 14:12] #67 closed, assigned to nobody

[2018-06-13 14:15] aaron-parsons commented on #121
Ok. I've done most of the one's I can now. Will go through them tomorrow with @pierrethibault  and @bjoernenders to make sure we can close this meta ticket. I've also started a project board for the 0.4 release, which is just a management tool to make it obvious what we are aiming for and who is working on what.

[2018-06-13 19:55] pierrethibault opened #157 "Clean up old pull requests"

[2018-06-13 21:09] pierrethibault commented on #2
I'd like to bring this back to a certain level of priority. From the user point of view this is almost a bug since the subclassing PtyScan involves "weights" even though these are interpreted as a binary mask later on. The ML engine cannot work well without full statistical weight support.

[2018-06-13 23:44] benglvr commented on #148
Hi Aaron,

No worries about the delay. I'll have a go on Monday installing this under conda in a fresh virtual machine and get back to you.

Regards

[2018-06-14 11:35] pierrethibault commented on #98
(with @bjoernenders and @aaron-parsons)
Decision:
- Default diversity parameters will be "reasonable" for a typical use case.
- Diversity will not be applied if no new modes have to be generated (i.e. they have been passed as an array).

[2018-06-14 13:32] bjoernenders commented on #153
Closed with commit 83183dde78fa96408af633effe23d4c6066e3ba4

[2018-06-14 13:35] #153 closed, assigned to nobody

[2018-06-14 13:45] bjoernenders commented on #144
Validation is under intense review so this one is obsolete now.

[2018-06-14 13:45] #144 closed, assigned to nobody

[2018-06-14 13:47] bjoernenders commented on #98
We will make side loading objects and probe from previous reconstructions a proper method of Ptycho. Bumped to next release

[2018-06-14 14:11] pierrethibault commented on #146
Hi Wilhelm,

Regarding the zero-padding problem you mention last, this happens because you need to call `c.reformat()` before accessing the data. If you want to make sure that your storage doesn't shrink when you reformat, you can set `s.padonly = True`.

Otherwise this looks like a nice addition to ptypy. Would you consider submitting a pull request? Ideally this should be done against the new re

[2018-06-15 09:13] aaron-parsons opened #161 "Autodoc"
Make it work on travis.

[2018-06-15 15:18] aaron-parsons commented on #161
Right. I have merged a working doc into the release_candidate. This now builds with the instructions here: https://github.com/ptycho/doc/blob/master/HOWTO_build_ptypy_doc.md. There are 4 errors which is less than the 5 you suggested I should expect:-)

I haven't merged this into the gh_pages branch because I guess you (@bjoernenders ) want to do this with the release to keep things in sync.

I've

[2018-06-15 15:18] aaron-parsons commented on #161
I'll remove the 0.3 release tag since I think it might be a while to get read the doc set up and it's not really blocking.

[2018-06-18 13:41] pierrethibault opened #162 "Not importing all PtyScan subclasses causes problems."
Commenting out all `experiment` submodules means that `ScanModel.makePtyScan` does not work anymore because it is looking for classes in `ptypy.experiment`. I suggest that we revert to the previous mechanism for the time being, possibly in a `try...except` block.

[2018-06-19 12:01] pierrethibault commented on #162
I "solved" this by introducing a `register` decorator exactly like in engines (commit e5442eb). Still, I am not completely happy with this change. As it currently stands, the module containing the user-defined PtyScan subclass has to be explicitly imported prior to reconstruction, which means that reconstructions will run only in hand-edited scripts. I would prefer things to be more automatic, so

[2018-06-19 12:02] wfeschen commented on #146
Hi Pierre,

Thanks for your response, I really would like to contribute to this project, but I am not sure If I can make it in the next few days. I will submit a pull request after some proper testing of the code, I hope that is fine.

[2018-06-19 12:14] pierrethibault commented on #162
... Just reintroduced the automatic import (commit 25b2b47).

Leaving this issue open to discuss this change.

[2018-06-19 12:15] pierrethibault commented on #154
@aaron-parsons, I believe this problem was introduced last week. When you have time can you merge `release_candidate` into the gpu branch? I think it will solve this issue.

[2018-06-19 12:16] #157 closed, assigned to pierrethibault

[2018-06-19 12:20] pierrethibault commented on #146
Hi Wilhelm,
No worries, there is no rush. Glad to know you are willing to push your work. I suggest that you wait until the next release, which should happen very soon, and submit your PR onto master.

[2018-06-19 15:26] aaron-parsons commented on #154
Hi Pierre,

Thanks!

I’m back in the office on Thursday and will do it then.

Aaron

On 19 Jun 2018, at 13:15, Pierre Thibault <notifications@github.com<mailto:notifications@github.com>> wrote:

@aaron-parsons<https://github.com/aaron-parsons>, I believe this problem was introduced last week. When you have time can you merge release_candidate into the gpu branch? I think it will solve this issue.

[2018-06-19 21:14] pierrethibault opened #163 "Clean up branches"
This is a huge mess.

[2018-07-05 15:00] #127 closed, assigned to bjoernenders

[2018-07-10 13:36] susannahammarberg commented on #154
Hi folks!

@aaron-parsons @pierrethibault
I have the same issue with empty ptyr-files working in the 3d branch (Bragg3dSim.py and Nanomax3d.py).

Best,
Susanna

[2018-07-16 10:07] frgfrg commented on #154
Hi people! We have followed Pierre's advice merging rc into gpu_cuda on ours local branches and now DMGpu saves again correctly the ptyr files. Merging and installation went well. So @susannahammarberg, try to do the same, I hope it will work for you too!

[2018-07-17 08:37] aaron-parsons commented on #154
Hi everyone. This is now fixed on the release_candidate branch, and has been merged into gpu_cuda. The release_candidate will be released soon. Sorry I should of said this earlier. Just to again warn, things are about to get hectic on the gpu_cuda branch with Bjoern and I doing quite a bit of work, so maybe take care before you pull! :-)

[2018-07-17 08:37] #154 closed, assigned to nobody

[2018-08-03 09:50] carlosesreis opened #165 "DMGpu engine doesn't work with 'nearfield' propagtion"
Hi guys. First of all thanks for the software! We have been using it with GPUs and it goes really well.
We were trying to use DMGpu engine in a nearfield setup but it is dropping us the following error message:

[code]

Using the farfield option with yours rspa usafe dataset all works fine.
Could you please help us with this issue?

Thanks,
Carlos

[2018-08-03 11:40] aaron-parsons commented on #165
Hi Carlos,

In this initial unsupported branch of the code, the nearfield side hasn't yet been implemented. The cuda is there, but the dots aren't joined up yet. The supported branch of the release_candidate that @bjoernenders is about to release obviously doesn't have GPU support, but the following release which we are working on will do.This will have comprehensive support for all ptypy operatio

[2018-08-27 20:46] jcesardasilva opened #166 "How to reinforce the experimentally measured amplitude of the probe in NFP"
In near-field ptychography, I have the possibility to measure the intensity of the beam without the sample, so I can obtain the probe amplitude by the square root operation.

Given that in the Fourier update we replace the amplitude of the exit wave by the square root of the intensity, I am wondering how to replace (reinforce) the amplitude of the retrieved beam by the experimentally measured one

[2018-08-28 20:31] pierrethibault commented on #166
Hi Julio,

This is something that we planned from the beginning but never used, so the feature was somewhat hidden and not fully implemented. I have made a small change that I think will make it work as it should. The idea was never to have an input parameter to activate this, but to have an easy way to "rewire" the POD network to make it work.

What you need to do is:
1. Make sure that you load y

[2018-09-11 12:29] daurer opened #168 "DM: calculation of mean power depends on MPI configuration"
https://github.com/ptycho/ptypy/blob/094e272bf06d7e13757ece85c16969be2972853f/ptypy/engines/DM.py#L173

I have noticed that when running DM with MPI, the computed mean power is dependent on the number MPI processes used. This has an effect on the reconstructed object (depending on the MPI configuration)

[2018-09-11 12:41] daurer opened #169 "DM: different results depending on the number of probe modes"
https://github.com/ptycho/ptypy/blob/094e272bf06d7e13757ece85c16969be2972853f/ptypy/engines/DM.py#L313

I am not quite sure if this is a bug, but I found that I am getting different results on the object depending on how many probe modes I am using. I noticed that the ```self.ob_viewcover.storages[name].data```  scales with the number of probe modes. This has an affect on the calculation of cfact

[2018-09-11 12:51] aaron-parsons opened #170 "Extend testing of the storage class"
This links to #169. There is basically no testing of this functionality. I should extend this to check benedicts bug.

[2018-09-11 21:59] bjoernenders commented on #169
Hi Benedict,
thanks for pointing this bug out. Do you have a minimal script for reference, or does it work with a standard template? The behavior of this part of the code was last reviewed by @pierrethibault and he added the commit e5d8424 in September 2017. Maybe this helps figuring out what is going on.
Bjoern

[2018-09-12 09:01] daurer commented on #169
You can reproduce this with the ```minimal_script.py``` inside tutorial. Turning on smoothing for DM, you can see that ```cfact``` changes depending on the number of probe modes.

I think the issues is here when the view coverage is calculated: https://github.com/ptycho/ptypy/blob/094e272bf06d7e13757ece85c16969be2972853f/ptypy/core/classes.py#L910

As far as I can see the per-pixel views are exten

[2018-09-12 10:22] pierrethibault commented on #169
Good catch Benedikt.

The idea is that `cfact` should be equal to `object_inertia` (our tweak parameter) times a quantity that is roughly equal to the local fluence. When running with a single mode, `mean_power*coverage` is roughly right (and the `+1` is to avoid dividing by 0), but since the power is divided between the modes and coverage scales like the number of modes, the scaling is off. The s

[2018-09-12 13:15] jcesardasilva commented on #169
Thank you Benedikt,
I have observed this behavior too with my data in near-field ptychography,
specially when there is phase wrapping (the wrapping does not appear when
using mpi, but appears when using single core). I thought it was a mistake
of mine, but never had the time to check it. So, I am really glad you did
and that I am not alone.

Le mer. 12 sept. 2018 à 12:22, Pierre Thibault <notifica

[2018-09-12 13:18] jcesardasilva commented on #166
Thank you very much, Pierre.
I tried to use it as you said and, indeed, the amplitude of the probe seems
to be reinforced, but the results are less good than the ones not using the
'is_empty' approach. I don't discard the possibility I have not done
properly, but for the tests I made, it appears to be better not to use
'is_empty'.
I let you know if I do more tests.

Best regards,
Julio

Le mar. 28

[2018-09-12 21:30] bjoernenders commented on #169
Maybe we could just keep the Norm? That most accurately reflects the local fluence at the object. Currently we are initializing it at the beginning of each scan. We could use the view coverage only to initialize the norm at the beginning of DM.

[2018-09-13 00:22] bjoernenders opened #171 "Moving the autoplotter into a separate process."
Having Autoplotter running in a thread off the master process should be avoided. The autoplotter occasionally doesn't quit and continues to linger on the server, obstructing ports and requiring manual kill.

[2018-09-13 01:49] bjoernenders opened #172 "Enable Engine and PtyScan sideloading"
It should be relatively simple now to place a file next to you reconstruction script to load an engine or a PtyScan subclass from.

[2018-09-13 08:19] pierrethibault commented on #168
Should be fixed with e813350.

[2018-09-13 08:59] pierrethibault commented on #169
I have decided to remove the coverage part in the `cfact` calculation (commit 6ca024e). Though it might be a good idea, I believe that the coverage idea had never been totally tested, and the current implementation follows more closely the original philosophy.

@daurer: it would be great if you could give it a spin (including also the fix for #168).

[2018-09-13 13:14] alexbjorling commented on #171
Yes, our user instructions for how to reconstruct start with `killall python`, very elegant.

[2018-09-13 13:45] pierrethibault commented on #166
Hi Julio, Thanks for the update. Is there any chance you could share a minimal example of how you did it? We could add this as an example in our documentation or in the templates.

[2018-09-14 07:08] pierrethibault commented on #169
Benedikt privately confirmed that reconstructions are now stable w.r.t. number of nodes and modes.

[2018-09-14 07:08] #169 closed, assigned to pierrethibault

[2018-09-14 07:09] #168 closed, assigned to nobody

[2018-09-19 06:58] simonesala opened #173 "ptypy.io.h5read broken for 'ptyr' files after h5py upgrade"
After upgrading h5py on my system (2.8.0) including references to HDF5 library 1.10, ptypy gives problems opening 'ptyr' files. Everything still works for 'hdf' files, but when I use ptypy.io.h5read on 'ptyr' (or try and load data via h5py.File) I get <<IOError: Can't read data (can't open directory: /usr/local/hdf5/lib/plugin)>>, where /usr/local/hdf5 is the path to my newly installed hdf5 librar

[2018-09-19 07:34] pierrethibault commented on #173
Would you mind posting the whole stack trace?

On Wed, Sep 19, 2018, 09:03 simonesala <notifications@github.com> wrote:

[2018-09-19 08:54] simonesala commented on #173
[code]

[2018-09-19 09:09] pierrethibault commented on #173
This is related to https://github.com/h5py/h5py/issues/827 and https://github.com/h5py/h5py/issues/843

Looks like we need to `import hdf5plugin` in `h5rw.py`. Can you please git it a try?

Pierre

[2018-09-19 09:27] simonesala commented on #173
Done as instructed: it seems like the right direction. New error:

[code]

[2018-09-19 09:37] pierrethibault commented on #173
Maybe hdf5 doesn't find the `zlib` library. Is it installed?

[2018-09-19 09:56] simonesala commented on #173
zlib 1.0 exists and can be imported

[2018-09-19 10:50] aaron-parsons opened #174 "should pods just contain a conjugate array?"
I'm looking into the overlap update in DM. For now this is just MPI on the CPU (I'll do the GPU later).

A quick profile of this method over 5 DM iterations shows the following:

ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        5    0.000    0.000   34.907    6.981 DM.py:247(overlap_update)
        7   13.438    1.920   23.796    3.399 DM.py:358(probe_update)
        3

[2018-09-19 11:23] pierrethibault commented on #174
I have always found this part so annoying. There is nothing more simple than doing `a * b.conj()` but in python there is no way to do it without creating a temporary array with `b.conj()`. In my opinion the best way to optimise this would be to have a compiled version of `a * b.conj()`. A reasonable (and portable enough) way would be to define our own ufunc (e.g. https://docs.scipy.org/doc/numpy/u

[2018-09-19 12:41] simonesala opened #175 "deleting OPRmodel branch"
I'd soon like to delete the OPRmodel branch. @daurer and I are the main developers and users and moved to a new OPR branch.
Is there a way to make sure no one else still needs it (e.g. by getting in touch with anyone who pulled it in the past)?
I understand this is a private project, so this would otherwise still be rather straightforward.

[2018-09-19 12:58] aaron-parsons commented on #175
What are your plans to merge with master/release_candidate?

________________________________
From: simonesala <notifications@github.com>
Sent: 19 September 2018 13:41:13
To: ptycho/ptypy
Cc: Subscribed
Subject: [ptycho/ptypy] deleting OPRmodel branch (#175)

I'd soon like to delete the OPRmodel branch. @daurer<https://github.com/daurer> and I are the main developers and users and moved to a new O

[2018-09-19 13:01] simonesala commented on #175
The new OPR branch has been recently merged with release_candidate, so I guess we'll keep it up to speed with release 0.3. OPRmodel branch will become obsolete.

[2018-09-19 13:07] pierrethibault commented on #175
No problem, as long as the only people working on it and with it have been informed.

[2018-09-19 13:09] aaron-parsons commented on #175
Sorry, I mean: What are your plans for when will OPR be available in the release_candidate? It's not there now.

[2018-09-19 13:11] pierrethibault commented on #175
Not ready for 0.3 that's for sure. I would think that 0.4 is realistic. We mostly need to sort out the ScanModel part.

[2018-09-19 13:11] aaron-parsons commented on #174
Hi Pierre. I see. So you think that most of the time in the conj() calculation is allocating the intermediate array (and that the ufunc would get rid of that overhead)?

[2018-09-19 13:19] simonesala commented on #175
This is exactly what I'm not sure how to do: do admins have a way to find out who pull-ed from OPRbranch in the past?

[2018-09-19 15:40] wfeschen commented on #175
Hi Simone,

I used this branch to play a bit around with the OPR-Engine. For me this is fine. I think this is a really nice extension since we have some data where our probe changed during the scan. Using this method it showed us, that our pinhole, which we used to constrain the beam, drifted and therefore our probe changed.

Best,
Wilhelm

[2018-09-20 07:50] bjoernenders commented on #175
Hi Simone,
I think you are referring to the last 3 weird dangling commits with a lot of diffs on them that you rather have no one use further. I think we could just delete the branch and you use OPR instead. There is unfortunately no way to avoid that people have pulled and incorporated this branch but chances are small if we act fast. Just go ahead and delete it.
Bjoern

[2018-09-21 07:52] simonesala commented on #175
Good to hear OPR engine's usefulness's spreading already.
We'll keep developing things on the new OPR branch anyway, so any puller could just follow up on that.

[2018-09-21 07:54] #175 closed, assigned to nobody

[2018-09-21 09:23] simonesala opened #176 "parameter validation failed for engines"
I'm unable to trace back when and how the param tree changed.
I'm running a launching script that worked till earlier this summer, on OPR branch (near- up-to-date with release_candidate) and get this error:
[code]
The problem being my launching script does include these lines:
[code]
So I guess at least the error message should be refined.
How off am I from the expected param tree?

[2018-09-21 09:48] aaron-parsons commented on #176
Hey. Does your engines.__init__.py have the import statement for  the opr engine?
________________________________
From: simonesala <notifications@github.com>
Sent: 21 September 2018 10:23:23
To: ptycho/ptypy
Cc: Subscribed
Subject: [ptycho/ptypy] parameter validation failed for engines (#176)

I'm unable to trace back when and how the param tree changed.
I'm running a launching script that worked

[2018-09-21 11:22] pierrethibault commented on #176
Or is it the same as #167 (i.e. need to import the engine explicitly)?

[2018-09-21 16:00] simonesala commented on #176
This was indeed very similar to #167, only with engines rather than scans.
I fixed it by importing the engine within my launching script.
Editing engines.__init__.py as @aaron-parsons suggested also works: do we want OPR engines on the release_candidate branch too? Otherwise I wouldn't mess with engines.__init__.py on OPR branch either.
Commit c1248388cbe78f630a7db30c9a62a94019575fed closed this i

[2018-09-21 16:00] #176 closed, assigned to nobody

[2018-10-10 19:46] aaron-parsons opened #177 "Make .new_data() take arguments to allow data-blocks for MPI"
In future, this will allow engines to decide how they want the data to come to them.

[2018-10-10 19:47] aaron-parsons opened #178 "Refactor CUDA top level kernels to reduce memory footprint further."
It's ok at the moment, but because it's built from the smaller blocks, this is not yet optimised.

[2018-10-10 19:48] aaron-parsons opened #180 "Put OpenCL into accelerate branch."

[2018-10-10 19:54] aaron-parsons opened #181 "investigate linking CUDA kernels through python layer"
Currently is done cleverly at C++ level- could use PyCUDA kernels to expose this at  the python layer.

[2018-10-10 20:22] aaron-parsons opened #182 "put together benchmarking suite for acceleration"

[2018-10-10 21:40] aaron-parsons opened #183 "Make accelerate import clean and lean"

[2018-10-16 07:26] alexbjorling opened #185 "0.3 ptyr questions"
Hi folks,

Upgrading to 0.3 at the beamline (where we had a master snapshot from 2016...). Two questions so far:

* The `ptyr` files (which we read for propagating when aligning our KB focus) look different. Probe data used to be in `content/probe/S00G00/data` but is now in `content/probe/SNMG00/data`. Bug or feature?

* I get a lot of validator warnings which makes people nervous. Is it supposed

[2018-10-16 07:59] bjoernenders commented on #185
Hi Alex,
thanks for the report.
To 1 : I would call it a feature, the name is derived from the scan name of the input tree.
To 2 : I pushed a fix 75dcf81. There was a change in hierarchy of the parameters that the saving parameter test didn't account for. Funny that I didn't catch that bug.
Best, Bjoern

[2018-10-16 08:04] alexbjorling commented on #185
1: Haha I didn't realize `NM` was the name of my scan, I assumed it was a pair of counters `(n, m)` that hadn't been parsed.

2: Thanks. Very agile! It looks much nicer now.

[2018-10-16 08:04] #185 closed, assigned to nobody

[2018-10-16 08:56] alexbjorling opened #186 "Generous error catching causes severe confusion"
Just had a situation where a reconstruction worked on my laptop but failed like this on our cluster.

[code]

Turns out there's nothing wrong with the parameter tree but that the PtyScan subclass wasn't imported. The reason for that is the very wide try/except clause in `experiment/__init__.py`, which stops all `PtyScan` loading because the `cSAXS`wants to import `fabio` that I didn't have on the

[2018-10-16 09:09] aaron-parsons commented on #186
Hi Alex,

The reason for this is that we are part way through making the ptyscan subclasses entirely plugin based.

Bjoerns idea is that when you want to use a particular class, at the top of your script you will import that specific class. The reason for this is that the majority of imports we need will come from the bespoke libraries required by these classes, so to keep the package light, we ju

[2018-10-16 09:28] alexbjorling commented on #186
Ah this rings a bell. But as it stands I can't run ptypy 0.3 on our cluster without installing fabio or messing with the `__init__.py`. Seems we need an intermediate solution.

[2018-10-16 09:54] alexbjorling commented on #186
Acutally I'll just make a new nanomax branch to stop importing the cSAXS module. So closing this and referring to #167.

[2018-10-16 09:54] #186 closed, assigned to nobody

[2018-10-16 13:15] alexbjorling opened #187 "No ptyd output"
I'm not getting any ptyd files written. Isn't this correct?

[code]

[2018-10-30 20:40] pierrethibault commented on #174
Is this solved?

[2018-11-09 14:33] aaron-parsons commented on #187
Is this still broken for you?
It works for me at the moment with the same tree.

Can you post the full script ?

[2018-11-09 14:36] aaron-parsons commented on #173
Hi @pierrethibault and @simonesala whats the status of this?

[2018-11-12 11:07] pierrethibault opened #190 "Overriding PtyScan parameters"
Sometimes a ptyd file's metadata (`distance`, `center`, ...) has to be tweaked. It would be good to have the possibility to override these parameters directly in the input script. For instance:
[code]
To keep with the current way things are done, having `source = 'file'` still would not allow additional tweaking:
[code]

[2018-11-12 11:08] pierrethibault commented on #190
Implemented.

[2018-11-12 22:05] pierrethibault opened #191 "Sample and Illumination None behaviour"
Sub-parameters for `illumination` and `sample` are announced as `None` by default in the docstrings but the actual defaults are not `None`. As a consequence it is currently essential to pass explicitly `illumination.diversity=None`, `sample.process=None`, etc. This is not the expected behaviour.

[2018-11-23 16:24] aaron-parsons opened #192 "Floating intensities broken in ML engine"
if self.p.floating_intensities:
                diff_view.float_intens_coeff = ((w * Imodel * I).sum()

E               AttributeError: 'View' object has no attribute 'float_intens_coeff'

This has come about I think due to moving to slotted classes for the views. Previously we could just attach things to the views at will, but now the API is firmed up we have to make another way to do this. I've

[2018-11-27 11:58] pierrethibault commented on #190
Some tests are now failing because of these lines:
https://github.com/ptycho/ptypy/blob/cab72ed2fb3359d35e44aa42f2a8f23285e82cd0/ptypy/test/ptyscan_tests/on_the_fly_ptyd_test.py#L66-L71
Passing `PtydScan.DEFAULT` to the `PtydScan` constructor including a `source` will override all of `meta`.
I would say that this is not a problem and that the test has to be modified, but happy to reconsider. My ma

[2018-11-27 11:59] aaron-parsons commented on #190
Sure. I'll do this.

________________________________
From: Pierre Thibault <notifications@github.com>
Sent: 27 November 2018 11:58:14
To: ptycho/ptypy
Cc: Parsons, Aaron (DLSLtd,RAL,LSCI); Mention
Subject: Re: [ptycho/ptypy] Overriding PtyScan parameters (#190)

Some tests are now failing because of these lines:
https://github.com/ptycho/ptypy/blob/cab72ed2fb3359d35e44aa42f2a8f23285e82cd0/ptypy/t

[2019-01-29 12:24] alexbjorling opened #196 "positions in ptyr output"
I'm making a new reconstruction viewer for the beamline. It's sometimes nice to overlay the scanning positions on the reconstruction. Any good reason that the positions are not saved to the ptyr file?

[2019-01-29 12:42] aaron-parsons commented on #196
I don't think so. It's something I also want at some point. I guess we want the original positions + the final positions of the reconstruction if we have done position correction.

________________________________
From: Alexander Björling <notifications@github.com>
Sent: 29 January 2019 12:24:44
To: ptycho/ptypy
Cc: Subscribed
Subject: [ptycho/ptypy] positions in ptyr output (#196)

I'm making a n

[2019-01-31 09:03] bjoernenders commented on #196
I don't object in having another saving type that saves the positions. But if your request is to just overlay the positions you can use the coordinate grid provided by the saved object storage and display the positions saved in the .ptyd file. That's how I usually do it. Works fine.

[2019-01-31 12:43] alexbjorling commented on #196
No, finding the ptyd file is too complicated (for my users at least).

[2019-02-13 02:32] daurer commented on #146
Hi Wilhelm,
Hi Pierre,

I needed some position refinement for my project and I found this interesting thread. So I pulled this code from your fork and made a new 'position_correction' branch in the main repo. I've also done a few changes:

- I integrated a position update into the BaseEngine, such that this feature can be used by any engine.
- I created a new PosRefine class in a separate posref.p

[2019-03-11 20:57] pierrethibault opened #200 "Ptypy extension philosophy"
How to implement a new feature is a question that comes up quite often in discussions with @aaron-parsons lately.

Subclassing ScanModel and Engine seemed the cleanest by design, but there are a few important hurdles. First, many of ptypy's methods are very long, so a subclass is likely to reproduce a large part of the parent's code just to introduce a few lines somewhere in the middle. This code

[2019-03-12 12:23] aaron-parsons commented on #200
My thoughts are that there are two separate things. The new ScanModel stuff
is to get rid of anything that would have previously been hacked into engine.prepare.

I think there is a future refactor in ScanModel to make the methods shorter,
but that currently we don't have enough information yet to guide this refactor. This is
why accepting PR's like Benedikts is important. Since the ScanModel has

[2019-03-12 19:39] alexbjorling commented on #200
I mean I have no opinion other than that I've noticed the problem and have wanted to chop up long methods a few times, like here
https://github.com/ptycho/ptypy/pull/113/files#diff-6256976fd8a26060572b2cb350cc0eb7

You could also limit the scope more to avoid things being shoehorned in, even if that doesn't apply to OPR or multislice of course. In hindsight, maybe the 3d Bragg extension was a stre

[2019-03-14 07:18] bjoernenders commented on #200
Thanks @pierrethibault , for opening this issue for discussion and @aaron-parsons  and @alexbjorling  for your opinions. Here are my 2 cents :)

I would like to add that for second variant that you may end up adding parameters which, in turn, changes the parameter tree. This should be something we do when we create a new 0.x release and not in a rolling fashion, especially when it comes to "core"

[2019-03-14 12:21] aaron-parsons commented on #200
Hey @bjoernenders,
I see where you are coming from with this, essentially trying to use encapsulation to protect the core functionality. The problem is that we don't release regularly enough for this strategy to work. This risks everybody running on separate branches that have mulitiple feature commits in. We see this already with poor benedikts merge. It also will make you very sad when coming to

[2019-03-18 21:56] pierrethibault commented on #200
@aaron-parsons and @bjoernenders did you continue the discussion offline? I'd like to know what is the conclusion. I think that PRs should be merged as quickly as possible to avoid heavy backlogs and to make new features available to users as quickly as possible. They could be merged on a "release_candidate" or "dev" branch, but given the popularity and success of continuous integration I would no

[2019-03-20 17:32] bjoernenders commented on #200
@pierrethibault We did not continue the discussion yet. I am a bit conflicted about a "hot" master, though I see the benefits of a more rapid merging cycle. However some merges have been held back by me for the reason, that they interfere with users  who are used for things to happen a specific way. So whenever someone checks out the repository, I want something to come as download that is API and

[2019-03-21 11:24] aaron-parsons opened #203 "Reconstruction doesn't work when both illumination.model and sample.model are selected to be "stxm""
End up with NaN's in the iteration errors, and no good results.

I've realised also that the whole of sample, and stxm_analysis have no tests. I'm remedying this now.

[2019-03-21 17:33] aaron-parsons commented on #191
Yup. It turns out that #203 was actually this. because process wasn't set to None explicitly (even though the default was None), it tried to process the stxm data and screwed up the result:-)
I'm off tomorrow, but might take a look this evening.

At least we can carry on.

[2019-03-21 21:07] aaron-parsons commented on #191
Ok. I think that the neatest way to do this is in Param.update.

Not something I want to touch in hurry so will look again on Monday.

[2019-04-04 02:11] daurer opened #205 "minimal script in tutorial is broken"
It has been pointed out by @ningustc that the current tutorial is broken. The line

https://github.com/ptycho/ptypy/blob/2dc39437b453de548ab8a4438f830b1730ee1e8a/tutorial/minimal_script.py#L74

causes a RuntimeError on validation of the parameter tree:

[code]

[2019-04-18 09:31] cmkewish opened #207 "[INFO]: Deprecation spam after a recent upgrade of h5py, numpy, among others"
Specifically, I upgraded a few packages within Anaconda recently, prompted by needing functionality from a later version of numpy than I was using for another task. Now there's a LOT of deprecation warnings, which spam useful data off the screen during iterations because they're verbose and issue once per cpu in use at the time.

For numpy:
`/opt/anaconda3/envs/pty03pc/lib/python2.7/site-packages/

[2019-04-23 08:47] alexbjorling commented on #207
I know, this `dataset[()]` is super ugly.

I'm getting this more and more both with ptypy and for other code. Of course one should use virtualenvs and so on, but I can never be bothered so the outcome is terminal windows full of deprecation warnings everywhere...

[2019-04-30 13:45] aaron-parsons commented on #207
Perhaps we could apply a filter for these which is linked to the verbosity level?

[2019-04-30 13:50] aaron-parsons commented on #207
And as a long term, we should definitely be switching to python 3. Implementation to be discussed to maintain backwards compatibility.

[2019-04-30 19:02] alexbjorling commented on #21
How about just migrating from one release to the next, breaking 2.7 compatibility? It is a bit harsh, but the code will look nicer and be easier to work with. I think people can cope, or do they have ptypy built into other applications?
See also #207

[2019-04-30 19:04] #196 closed, assigned to nobody

[2019-05-05 00:42] rshayduk opened #208 "rshayduk: Struggling to install PtyPy without success"
I have tryied to install PtyPy as described in installation instructions on both, Windows and Linux systems without success.

On Windows I had troubles with pyqt4 and mpi4py

The installation on Linux, apparently, went fine, but, nevertheless the minimal script crashes on the first line:

with the report:

Traceback (most recent call last):
  File "minimal_script.py", line 1, in <module>
    from

[2019-05-05 03:55] bjoernenders commented on #208
Hello rshayduk,

thanks for reaching out. These reports are helpful to us. Unfortunately, we do not support Windows in any way. For Linux / conda, yes, it looks like something is wrong with your packages, as h5py / numpy combo seems broken for you. Have your tried standalone usage examples of h5py in combination with numpy?

In order to understand your issues, could you tell us the exact way you t

[2019-05-05 11:24] rshayduk commented on #208
Dear Bjoern,

thank you for the rapid response. I used pip install inside conda environment, that may have caused broken installation of essential packages.

I have re-installed all the packages like numpy, h5py, matplotlib, scipy etc. using:

conda install -n evnname packagename

It did only complain about pyqt4, that it can't be found on conda repository.

In fact, the minial reconstructino did

[2019-05-05 11:24] #208 closed, assigned to nobody

[2019-05-17 15:27] aaron-parsons commented on #203
@pierrethibault we talked about this earlier. Just so you have the thread.

[2019-05-17 15:39] aaron-parsons opened #210 "Make binary script tool to compare positions in .ptyd with .ptyr"
This references #209, and would be the best way to d what the position_evaluation.py template tried to do with text files.

[2019-05-17 15:39] aaron-parsons commented on #210
In fact, we could probably convert this template directly.

[2019-06-20 08:16] susannahammarberg opened #217 "Limit on number of frames?"
I'm using @alexbjorling s 3d implementation for Bragg ptycho, and I have a big set of scans that I am trying to reconstruct in 3d, >100 000 frames.

In the output I see:  "Frame 99999 belongs in frame buffer ..."
But after 99 999 it starts doing something else.

Is there a reason I can not use more frames?

Thanks!

[2019-06-20 21:32] bjoernenders commented on #217
Hi Susanna,

there is a limit to how many frames are being pulled in one call. Originally, this was used to keep preparation overhead low in the streaming version. The limit is placed in line 132 in `manager.py`
`self.frames_per_call=100000`. You can alter that variable interactively, by settting `Ptycho.model.frames_per_call=xxx` before initialization step 3. Alternatively, since you are working

[2019-06-24 11:37] susannahammarberg commented on #217
OK, thank you, perfect!

Best,
Sanna

[2019-06-24 22:23] pntbttrvbs commented on #205
submitted a PR for this.

A quick fix is to just comment out the problem line.

Basically, when the Ptycho object is initialized, it's trying to validate the parameters. The validate method can't find the default for 'scan', which is set from the docstring by the defaults_tree.parse_doc decorator.

[2019-06-24 22:29] bjoernenders commented on #205
Hi, yes the tutorial needs to be changed. Not the class. Thanks for pointing this out.

[2019-06-27 14:54] jcesardasilva opened #221 "KeyError: 'autoplot' in ptypy.plotclient related to issue #127"
Cannot use ptypy.plotclient because it complains because of KeyError. The problem seems to appear in defaults_tree['io.autoplot'].
[code]

[2019-06-30 22:15] cmkewish commented on #208
FWIW, here is a list of steps I used to install PtyPy on a cluster of machines, starting from a fresh install of linux (three of the five machines were CentOS 7, two were Ubuntu 18.10):

[code]

Then to execute a ptypy script, call `mpiexec` with options specifying the hosts file and number of processes, etc.:

`$ mpiexec -f ~/hosts -n 80 -ppn 16 -binding cpu:cores python ptypy_script.py`

[2019-07-01 12:33] jcesardasilva commented on #21
Dear All,
How is the progress on the port of Ptypy to Python 3?
I've done a fork and translated all the code as much as I could to Python 3 in terms of syntax. However, it seems that there is a problem with the package utils.descriptor. I thought it was only the ConfigParser problem, since RawConfigParser is deprecated, but not sure.
If you think it is useful for further progress, I can propose a

[2019-07-01 13:12] aaron-parsons commented on #21
Hi @jcesardasilva,

Bjoern and I were just talking about doing this last week. Thanks for getting started already!

I think you should put your work onto a branch, rather than a fork, and then generate a PR from that branch into master so we can track it. I'll then set up some CI to track where know things break.

If you do this, I'll take a look at the bug with the descriptor. It's a good opportu

[2019-07-01 15:50] jcesardasilva commented on #21
Hi @aaron-parsons
It seems I cannot create a branch. I am not allowed to do so. Could you please either grant me the right to create it or you create one and I do the pull request on it? Thank you.

[2019-07-01 15:55] aaron-parsons commented on #21
Hi, I can't switch which team you are on, but @bjoernenders or @pierrethibault can help us.

[2019-07-01 18:43] bjoernenders commented on #21
Hi @jcesardasilva,
I added you to team ptypy. You should have all the access now that you need. Great that you started making progress. As Aaron suggested, please create a new branch from master, merge with your changes and let as have a look at what you did.
Thanks,
Bjoern

[2019-07-02 07:49] jcesardasilva commented on #21
Thank you @bjoernenders
I did what we discussed and I hope this can help for the port to python3. There are still some problems, such as the one I described here above, but I definitely need help to solve it.

[2019-07-11 07:16] jcesardasilva commented on #84
We are working on the port from python2 to python3, but there are still some issues to solve. Please, see #223. Help wanted!

[2019-07-27 15:23] pierrethibault commented on #221
Sorry for the delay Julio. I think it should be solved now.

[2019-07-27 15:23] #221 closed, assigned to nobody

[2019-07-27 15:23] #217 closed, assigned to nobody

[2019-07-27 15:29] #192 closed, assigned to aaron-parsons

[2019-08-20 05:43] alexbjorling opened #230 "Running the unit tests"
I have what is probably a stupid question. In the `py2topy3` branch, I can't work out how to run all tests. The instructions in #23 don't work. Does anyone know?

[code]

[2019-08-20 07:02] jcesardasilva commented on #230
Hi Alex,

The point is that importing directly from collections is deprecated. One
should now import from collections.abc instead. Maybe the version of the
prompt_toolkit you have is not using the proper import. I would say that
you can try to upgrade the package prompt_toolkit to check if the problem
is solved.

Le mar. 20 août 2019 à 07:43, Alexander Björling <notifications@github.com>
a écrit :

[2019-08-20 07:36] alexbjorling commented on #230
Ah but that's just a warning, but good point I've updated prompt_toolkit.

I just can't work out how to run the tests, even on master with 2.7. @aaron-parsons how do you do it?

[2019-08-20 08:46] stefanoschalkidis commented on #230
Hi Alex,

The unittests are not run because the default search pattern for the dicover() method was altered in core_tests (see: https://docs.python.org/3.5/library/unittest.html#unittest.TestLoader.discover). You could try a pattern with the wildcard at the front.

[2019-08-20 19:08] stefanoschalkidis commented on #230
Hi Alex,

I just ran the unittests on the master and the py2topy3 branches using `python -m unittest discover -p "*_test.py"` with the following outcome:

master on python 2.7.16:
`Ran 255 tests in 44.864s OK (skipped=36)`

py2topy3 on python 3.6.8:
`Ran 257 tests in 17.188s FAILED (failures=3, errors=74, skipped=34)`

Hope this helps pinpointing the required changes for the python 3 transition.

[2019-08-20 19:27] alexbjorling commented on #230
Thanks Stefanos! That did the trick.

[2019-08-20 19:27] #230 closed, assigned to nobody

[2020-02-05 13:00] susannahammarberg opened #240 "error when applying probe support in ePIE (master branch)"
Hey!

I am working in the master branch and get an error using ePIE when it's updating the probe and tries to apply a probe support:

  File "C:\Users\Susanna\AppData\Roaming\Python\Python37\site-packages\ptypy\engines\ePIE.py", line 264, in engine_iterate
    pod.probe *= self.probe_support[pod.pr_view.storageID][0]

TypeError: 'NoneType' object is not subscriptable

Best,
Sanna

[2020-03-03 16:24] #240 closed, assigned to nobody

[2020-03-13 14:45] #187 closed, assigned to nobody

[2020-03-13 14:46] #174 closed, assigned to nobody

[2020-03-13 14:46] #161 closed, assigned to aaron-parsons

[2020-03-13 14:47] aaron-parsons commented on #146
This is now merged into master.

[2020-03-13 14:47] #146 closed, assigned to nobody

[2020-03-13 14:48] #84 closed, assigned to nobody

[2020-10-25 07:49] alexbjorling commented on #39
Since this issue is still open, I'll have another go at this. So we've been happily ptychographing for four years, but now @kahntm is pointing out that

1. We need to give the near field propagator negative numbers to propagate downstream,
2. our phase differences between air and 500nm Ta have the wrong sign. and
3. viewing the reconstructed object as numpy array, it is flipped (horizontally at le

[2020-11-10 05:40] bjoernenders commented on #39
Hi @alexbjorling and @kahntm ,

Sorry for not getting back to you earlier. Feel free to poke me if I don't respond snappy enough.

1. The nearfield propagator can deal with negative arguments, but for some inexplicable reason we put in a lowerlimit of 0, which is pretty stupid. So that limits need to be removed.
2. Have you checked what our sample.py module produces for 500nm Ta?
3. This always a

[2020-11-10 17:30] jcesardasilva commented on #165
Any news on this issue? I have the same problem.
I've noticed some work on this branch, and I am wondering what I can do to help.
PyCUDA is already working for Farfield propagation, but not for Nearfield propagation because it complains that the BasicNearFieldPropagator object does not have the attribute 'pre_fft'. However, it does have this attribute, but I could not understand why it does not us

[2020-11-10 17:46] jcesardasilva commented on #165
The funny thing is that it is working with the template ptypy_i13_AuStar_farfield_9p0keV.py if we add `p.frames_per_block=40` and:
[code]
which means that something goes wrong with real datasets.

Any hints, please?

[2020-11-10 17:49] bjoernenders commented on #165
That is farfield propagation there. The nearfield propagation is not implemented (yet).

[2020-11-10 19:57] jcesardasilva commented on #165
Hi @bjoernenders, thank you for your prompt reply and sorry about the mistyping. I meant `ptypy_i13_AuStar_nearfield_9p7keV.py`  instead and it worked indeed with the `nearfield` propagation. Just need to implement the few changes I mentioned above.

This is really intriguing and surprising. If `nearfield` propagation is not implemented, do you have any idea why it worked with this template? I am

[2020-11-10 20:27] bjoernenders commented on #165
There is a range of Fresnel number where both propagators should be able to do the job. I looked a the template and it seems like the Farfieldpropagator is used for reconstruction.

[2020-11-10 20:59] jcesardasilva commented on #165
Thank you @bjoernenders for your reactivity to check this out. And thank you too for having started working on the new branch pycuda_nf.

[2020-11-16 11:56] #165 closed, assigned to nobody

[2020-11-17 12:15] daurer commented on #207
Closing this issue since we have already moved to Python 3 and I am not aware that any of these warnings are still present.

[2020-11-17 12:15] #207 closed, assigned to nobody

[2020-11-17 12:39] daurer commented on #205
It seems like the tutorial has been fixed.

[2020-11-17 12:39] #205 closed, assigned to nobody

[2020-11-17 12:46] daurer commented on #190
It looks like this has been fixed. Closing the issue.

[2020-11-17 12:46] #190 closed, assigned to nobody

[2020-11-17 12:48] #181 closed, assigned to aaron-parsons

[2020-11-17 12:49] daurer commented on #180
OpenCL is already part of pycuda branch

[2020-11-17 12:49] #180 closed, assigned to bjoernenders

[2020-11-17 12:50] daurer commented on #178
I believe this refers to the old CUDA kernels, no longer relevant with the current pycuda implementation

[2020-11-17 12:50] #178 closed, assigned to aaron-parsons

[2020-11-17 12:56] daurer commented on #173
This no longer seems to be an issue with recent version of h5py

[2020-11-17 12:56] #173 closed, assigned to nobody

[2020-11-17 12:58] daurer commented on #172
@bjoernenders  can this be closed? I assume this already works since the 0.4 release?

[2020-11-17 13:37] daurer commented on #162
@pierrethibault @bjoernenders where do we stand regarding automatic vs. explicit import of experiment (and engine) subclasses? I would be in favour of explicit imports in the user script. What are the arguments against this?

[2021-07-01 16:26] daurer opened #342 "Auto loading of engines and experiment at base level"
- one load_all function that replaces "old" style of loading everything
- handling of warnings

[2021-07-01 16:28] daurer opened #343 "Archive unused "testing" kernels"
cleaning up acceleration kernels and remove/archive unnecessary code

[2021-07-01 16:32] daurer opened #344 "consolidate memory management for Pycuda engines"
- ML_pycuda needs memory manager
- DM_pycuda_streams + manager should be archived (DM_pycuda_stream is the replacement) -> there might still be a performance bug in DM_pycuda_stream
- consolidate all memory management in a single module (if possible)

[2021-07-01 16:36] daurer opened #345 "improve unit tests by introducing more unity tests and larger array sizes. archive unused tests"
- Clean up tests
- archive old/debugging tests

This can be done post-release as an ongoing task

[2021-07-13 17:33] bjoernenders opened #355 "Why did we decide to have a one-to-one mapping between scan and model?"
I forget why we did this. It does not appear to make too much sense for ptychotomography. Was it only for better organization of the parameter tree?

[2021-07-13 17:35] bjoernenders commented on #355
And if we emphasize the difference in scans so much, why do we use the same engine and reconstruct the scans together in lock-step and not independently?

[2021-07-26 15:10] daurer opened #356 "NCCL communicator"
As further discussed in #352 the NCCL communicator used in the DM pycuda engines makes use of the CUDA interface provided by cupy, and as a consqeuence seems to interfer with the release of GPU memory in pycuda.

We need to find a better solution for the integration of NCCL into our engines. Maybe it's worth transitioning to cupy entirely? Or can we rip out the NCCL part from cupy?

Another open q

[2021-07-30 10:56] daurer opened #360 "Make pycuda engines fit for live processing"
Move serialisation inside the self.ptycho.new_data loop and only re-serialise if shapes have been changed. Ideally the whole serialisation should be integrated into the reformat() method.

[2021-08-03 17:54] bjoernenders opened #362 "Create a Jupyter Notebook for an "interactive" experience of ptypy"
Adapt ptypy in all aspects to make this work nicely.

[2021-08-03 17:58] bjoernenders opened #363 "Does the position correction belong in base?"
We need to figure this one out

[2021-10-26 15:45] Amirafsharm opened #374 "ImportError: No module named request"
Hi,
I have installed ptypy using
`python setup.py install --user`
on windows 10, in an environment with python 2.7.13.
I try to run examples in ptypy\templates folder, but I receive the `ImportError: No module named request` error message.
Here is the full message:

`(ptypyenv) D:\ptycho>python ptypy-master\templates\minimal_prep_and_run.py
Traceback (most recent call last):
  File "ptypy-master\t

[2021-10-26 16:52] daurer commented on #374
@Amirafsharm contrary to what our documentation says (@bjoernenders we should really update this) PtyPy has been fully upgraded to Python 3 and we no longer support Python 2.

Maybe you could try again in an environment with Python >= 3.7 ?

[2021-10-27 13:11] Amirafsharm commented on #374
@daurer Thanks for the quick response. I will try with Python 3.8 and keep you posted.

[2021-11-05 17:25] Amirafsharm commented on #374
I could install it on windows 10 with
`python --version = 3.7.11;
pip --version = 21.2.4;
conda --version  = 4.10.3`.
I attached the environment details.
[ptypy_environment.txt](https://github.com/ptycho/ptypy/files/7487841/ptypy_environment.txt)

[2021-11-05 17:25] #374 closed, assigned to nobody

[2021-11-15 09:36] #342 closed, assigned to daurer

[2021-12-21 11:45] Amirafsharm opened #383 "Error when running "ptypy/examples/notebooks/moonflower_blockfull_dm_pycuda.ipynb""
Hi, I receive the following error when running "moonflower_blockfull_dm_pycuda.ipynb".
However, the code works when I change the engine from "DM_pycuda" to "DM" or "EPIE"
![error](https://user-images.githubusercontent.com/18283639/146924894-a4f90caf-fc01-4e02-bbaf-8a25439fa13a.JPG)
.

[2021-12-21 13:54] daurer commented on #383
@Amirafsharm  the examples/templates are still work in progress. If you change this line
`from ptypy.accelerate.cuda_pycuda.engines import projectional_pycuda` to
`from ptypy.accelerate.cuda_pycuda.engines import projectional_pycuda_stream` it should work again...

Alternatively, you can also import all the pycuda engines at once using:
[code]

[2021-12-21 13:57] daurer commented on #383
All examples and templates are soon going to be rearranged and tested (#346) as part of the final changes before release 0.5 (#261)

[2021-12-21 13:58] #383 closed, assigned to nobody

[2022-01-21 08:21] bjoernenders opened #386 "Use of derived values in accelerated engines"
In ptypy we use derived data arrays, i.e. the `weights` array in ML that we calculate from intensity and mask and the `fmag` which is just the square root of the intensity. We did this to cache certain calculation that would be repeated in the same way every time the data arrays were accessed and would be fine for CPU engines and is a trade of memory usage vs speed. For GPU engines, these calculat

[2022-01-28 18:30] #344 closed, assigned to bjoernenders

[2022-02-11 15:45] daurer opened #387 "Remaining tasks from GPU release (0.5)"
**Todo for future release:**
- [ ] (Unify logging messages: log(level, message) vs. logger.info, logger.warning, etc.)
- [ ] Make all engines compatible with live processing (#311) -> next release
- [ ] (clean up branches/issues)
- [ ] revisit tests, move to unity-tests, use relevant array sizes. Archive cuda-ext tests. #345
- [ ] archive unused ("testing") kernels #343
- [ ] (automated tests for

[2022-03-29 15:29] daurer opened #395 "no consistency in using single/double precision"
I noticed that in many places (e.g. `get_data_chunk` in `ptypy/core/data.py`) we are casting data to double precision no matter what precision has been set by the user. This often happens when there is a `np.array(...)` conversion. We should probably make sure that we are consistently use either single or double precision.

[2022-03-29 21:52] bjoernenders opened #397 "What to do with the root level resources dir."
Currently holds logo.svg which is the base for the ptypy logo. That should be kept, but maybe rename the dir?

[2022-04-26 11:44] Nordicus commented on #148
Trying to get started as a new user, I think this is possibly the correct open issue to continue.
The documentation is currently somewhat unclear on how to perform a clean installation.

Might I recommend removing the setup.py (which seems to have been left to code-rot long enough that I couldn't get a valid setup using it), and changing the documentation to suggest the use of conda? For example,

[2022-04-26 12:29] jcesardasilva commented on #148
Hi,
I just wanted to follow up the remarks by @Nordicus . Indeed, we could reorganise things there, but if I may, I would like to avoid the installation only via Conda (as for example, Tomopy does and it is a mess for me and it not so easy to create containers with Conda - at least I don't like). I don't see a problem in keeping the setup.py file, but one could make it better. If Ptypy will be ins

[2022-04-26 12:43] Nordicus commented on #148
@jcesardasilva Unfortunately, the setup.py file in its current implementation is broken.
It does not install the dependencies, and therefore the package is not installable through its use. I'd recommend either fixing the file (which may be as simple as uncommenting the dependencies for an equivalent of the core-dependencies.yml) or may be more challenging to have both core- and full- dependency op

[2022-04-26 17:08] bjoernenders commented on #148
@Nordicus @jcesardasilva We are preparing a new release that is essentially ready (and also fixes a lot of things in the docs) We moved to conda as the primary installation medium. I'm happy to take a PR though (after the release) if you want to contribute a requirements.txt for a non-conda installation. The new release will be happening this week. If you don't want to wait @Nordicus the pycuda br

[2022-05-05 14:34] daurer commented on #148
@Nordicus Welcome to our community of ptypy users :) sorry to hear that you were having troubles getting started with a clean installation and apologies for the lack of documentation! We have finally managed to get the [0.5 relase](https://github.com/ptycho/ptypy/releases) over the line, with new updated documentation here: https://ptycho.github.io/ptypy/rst/getting_started.html#installation

I ag

[2022-10-21 19:11] Lexelius opened #407 "Problem sending additional data to GPU before 1st iteration"
### Hi!

### Can ptypy not handle the number of frames being increased in between iterations when using GPU-acceleration?

I have a PtyScan-subclass made for live reconstructions, so the number of frames will increase after each time that my subclass load function has been called, and the iterations are starting before `end_of_scan` is reached by including a `block_wait_count` in the same way as i

[2022-10-24 11:34] daurer commented on #407
Hi Rebecka,

Thanks for raising this issue - the live streaming capabilities of PtyPy are still a work in progress, especially together with the GPU-accelerated engines. But this is a very hot topic and I am currently working with @jsouter on exactly this - making sure that Ptypy can process incompete data that is provided from a live stream or a SWMR file.

Our current approach is this:

- Use th